[2018-05-17 06:28] tbsvttr opened #1 "Preview Image in Readme is Broken"
Sadly the preview image in the Readme.md is broken (file does not exists).

[2018-05-17 06:30] tbsvttr opened #2 "Can not find theme in VS Code or Online"
I can not find the theme in my local VS Code or online in the search of the marketplace (https://marketplace.visualstudio.com/search?term=night-owl-vscode-theme&target=VSCode&category=All%20categories&sortBy=Relevance).

[2018-05-17 06:39] sdras commented on #2
I just started it a few hours ago. It's not fully released yet :) I'll probably be done tomorrow.

[2018-05-17 06:39] #2 closed

[2018-05-17 06:39] sdras commented on #1
I just started it, not fully released yet :) I'll have it up and released fully tomorrow, promise 🤘

[2018-05-17 06:39] #1 closed

[2018-05-17 07:44] vikrantnegi commented on #2
Waiting.... waiting...

[2018-05-17 22:25] bryanjclark opened #3 "Can’t distinguish which tab is currently selected in the tab bar"
Thanks so much for sharing this theme!

One bug that stood out: I can’t tell which tab is selected by the color palette (see attached image)

![screenshot of tabs](https://user-images.githubusercontent.com/868389/40206820-84aeb1a0-59e6-11e8-8b23-d25768c64f5f.png)

[2018-05-17 22:29] stevehollaar commented on #3
Thanks @sdras for this theme, looks great!

Related to this I think, the contrast of the tabs in inactive panes drops to difficult-to-read levels
<img width="461" alt="screen shot 2018-05-17 at 3 25 57 pm" src="https://user-images.githubusercontent.com/918252/40206899-bfbe8f0e-59e6-11e8-9192-c82f159ba527.png">

[2018-05-17 22:47] cthos opened #4 "Scrollbar color is Indistinguishable from background Color"
On my mac at least, the scrollbar color is the same as the background color so you can't really see where it is.

In the attached screenshot you can just barely see it where it's blocking out the side margin's line right below the blue change mark.

<img width="64" alt="screen shot 2018-05-17 at 3 40 32 pm" src="https://user-images.githubusercontent.com/456545/40207482-8f7f52a8-59e9-11e8-842c-653e

[2018-05-17 22:53] cthos opened #5 "Powerlevel9k colors are washed out in integrated terminal"
Not sure how relevant this would be for other people, but the colors of the Default powerlevel9k settings in zsh appear washed out in the Integrated terminal making them a bit difficult (for me at least) to read.

<img width="1052" alt="screen shot 2018-05-17 at 3 17 49 pm" src="https://user-images.githubusercontent.com/456545/40207631-4f71ac32-59ea-11e8-97da-7fb0f3142155.png">

For comparison, he

[2018-05-17 23:02] sdras commented on #3
Thank you for reporting! I'll work on this right away

[2018-05-17 23:03] sdras commented on #4
Good call! Thanks!

[2018-05-17 23:03] sdras commented on #5
Totally, I didn't do adequate testing for the terminal, thanks for bringing it up! I'll fix it up for the next release

[2018-05-17 23:04] mobayen opened #6 "highlight matched strings"
Matched words don't get highlighted anymore.
in the image, all 'test's supposed to get a slight highlight.

![matched strings](https://user-images.githubusercontent.com/29548601/40207945-9d26566e-59fc-11e8-9aa5-8b589d93aa6b.png)

[2018-05-17 23:41] codinronan commented on #3
Came here to say this :) Love the theme though!!

[2018-05-18 00:37] sdras opened #7 "Comments are too faint"
People have mentioned that they're hard to see.

[2018-05-18 00:38] sdras commented on #6
Ah interesting, I'll check that out. Thanks.

[2018-05-18 01:26] sdras commented on #6
hey hey, do you know of a theme that this works on? what was your previous theme? I'm having a hard time tracking down exactly how to target it.

Looks like matched words are working in most of the other files that I'm testing on so could you please let me know what language you're referring to here? that would help! thanks
<img width="378" alt="screen shot 2018-05-17 at 7 24 17 pm" src="https://u

[2018-05-18 01:39] sdras commented on #4
I just updated this, can you please check it out and let me know if you see it now/ works on your machine :)

[2018-05-18 01:40] sdras commented on #3
Thanks everyone! This is now updated. Please update to the new release! Feel free to reopen if I missed something :)

[2018-05-18 01:40] #3 closed

[2018-05-18 01:44] sdras opened #8 "Line for terminal separation"
Like this tweet specifies: https://twitter.com/KevinDavus/status/997263930203389952

  "workbench.colorCustomizations": {
    "panel.border": "#7e57c2"
  }

[2018-05-18 01:53] cthos commented on #4
Yeah! Looks good. 🎉

Any chance I can make another small suggestion to turn the opacity down a touch so the changed line color indicators can still be seen through it?

[2018-05-18 02:03] sdras commented on #8
Ok should be fixed!

[2018-05-18 02:03] #8 closed

[2018-05-18 02:04] sdras commented on #4
oh for sure! That's a good idea. 👍

[2018-05-18 02:05] cthos commented on #4
I tried this locally, looks pretty okay?

[code]

[2018-05-18 02:28] sdras commented on #5
Hey! I think I might have fixed this. Can you please double check? Thanks!

[2018-05-18 02:29] sdras commented on #4
Oh I didn't see this while I was working- I think I got it fixed though! It's a little brighter than the one you have there. Can you please reload the theme and check it out? Thanks!

[2018-05-18 02:41] anggras opened #9 "Unreadable Inactive Tabs in Unfocused Split Editor"
![unreadable tab](https://user-images.githubusercontent.com/3928555/40213449-1129a936-5a88-11e8-9594-9d52c5a2bd40.jpg)

[2018-05-18 02:45] sdras commented on #9
Oh weird! Thanks for reporting this, I'll take a look

[2018-05-18 02:47] cthos commented on #4
Yeah, looks good!

[2018-05-18 02:49] anggras commented on #9
`"tab.unfocusedInactiveForeground": "#5f7e97"`

Should do the trick :wink:

[2018-05-18 02:58] cthos commented on #5
Looks a bit better, but the blacks are a bit off. I took a shot at adjusting the ansiBlack colors a bit.

Published Theme:
<img width="491" alt="screen shot 2018-05-17 at 7 50 40 pm" src="https://user-images.githubusercontent.com/456545/40213799-3d92763c-5a0c-11e8-8406-e39e5a4e4f55.png">

Adjustments:
[code]

<img width="1066" alt="screen shot 2018-05-17 at 7 54 36 pm" src="https://user-images.git

[2018-05-18 04:31] sdras commented on #4
Great! thanks

[2018-05-18 04:31] #4 closed

[2018-05-18 04:41] remarks commented on #6
I'm getting this as well. Tested with HTML, Vue, and JavaScript languages. Works in the default themes for me.

[2018-05-18 05:04] sdras commented on #5
Ok I think I got it sorted, please reload and let me know what you think :)

[2018-05-18 05:05] sdras commented on #9
Fixed!

[2018-05-18 05:05] #9 closed

[2018-05-18 06:43] cthos commented on #5
Yeah! Looking great now. Thank you!

[2018-05-18 06:55] cthos commented on #6
Can confirm that this _works_ in Typescript for me:

<img width="353" alt="screen shot 2018-05-17 at 11 53 18 pm" src="https://user-images.githubusercontent.com/456545/40220282-81d7a18e-5a2d-11e8-924e-24b6e2486666.png">

But does _not_ work in a text file:

<img width="217" alt="screen shot 2018-05-17 at 11 53 51 pm" src="https://user-images.githubusercontent.com/456545/40220315-9d0aad2a-5a2d-11e8

[2018-05-18 08:08] hellp opened #10 "Contrast of selection highlight in sidebar forms to low"
I often `Ctrl+Shift+F` to search globally. I take the selection highlight as a cue to see that I have focused the search form successfully.

In Night Owl the selection is barely visible:
![screenshot-20180518-01caf0](https://user-images.githubusercontent.com/32779/40223247-b0a6e088-5a82-11e8-9cd2-7a7b62511943.png)

Compare this to Code’s Dark theme:
![screenshot-20180518-01ef9a](https://user-image

[2018-05-18 14:38] placenamehere opened #11 "ignored files too pronounced"
👋🏻

Files in the file explorer that have been .gitignored tend to be colored in a muted way, with less contrast against the background, in most themes. With Night Owl, they feel almost more pronounced in color and I find it a bit distracting to me. Maybe there's a darker blue that still gives enough contrast to be readable?

Screenshots of this theme & Dark "(Visual Studio)":

<img width="308" alt

[2018-05-18 14:49] rbelliard-vivial opened #12 "Toggling the Side Bar causes: "Cannot read property 'setVisible' of undefined""
# Issue
When I'm on the Source Control side bar, pressing `ctrl+B` to toggle it causes the following error:

	Cannot read property 'setVisible' of undefined

* See demo [here](https://drive.google.com/file/d/1Ttjqz66ML4lRmq_TYdgskZDuXjbiEfNT/view).

# System info
VS Code version: Code 1.23.1 (d0182c3417d225529c6d5ad24b7572815d0de9ac, 2018-05-10T16:04:33.747Z)
OS version: Linux x64 4.15.0-20-generi

[2018-05-18 15:28] sdras commented on #6
ya'll are awesome, thanks for being on the case! I've set aside some time to work on this today after work. Thanks!

[2018-05-18 15:28] sdras opened #13 "Reliance on git"
A windows user reported needing git to install, that should not be the case.

[2018-05-18 15:30] sdras commented on #11
ah yeah, thanks! I had originally muted them so much they were not accessible, then I think I went too far in the other direction. I think the solution is to bring the regular files up just a bit and then drop the gitignored files down. I'll get to this soon! Thanks for reporting.

[2018-05-18 15:32] sdras commented on #12
Dang, sorry about that. I appreciate the screencast here, I'll try to track it down. Thanks!

[2018-05-18 15:32] sdras commented on #10
Ah yeah I see what you mean. I'll get that fixed up, I didn't know people were using it that heavily. Thanks!

[2018-05-18 15:33] sdras commented on #5
Excellent. Thanks!

[2018-05-18 15:33] #5 closed

[2018-05-18 16:00] mikekidder commented on #13
Sarah, dont think that has anything to do with your theme extension.

If VS Code (upon launch) cannot find Git, a terminal window will open asking to download or configure the path.

![image](https://user-images.githubusercontent.com/41694/40245189-1de69a72-5a82-11e8-8c91-e80f34080eac.png)

Just downloaded VS Code onto a VM I had, with no Git installed

[2018-05-18 16:20] sdras commented on #13
Ah, interesting, I thought it was because of the repo type. Thanks for checking this out!

[2018-05-18 16:20] #13 closed

[2018-05-18 17:40] catskull opened #14 "Allow keyword italics to be disabled"
Feature request:
I like Fira Code more than Dank Mono. This theme make keywords show up in italics, is there any way for me to disable that?

[2018-05-18 17:55] sdras commented on #14
yeah, let me research if there's a way to do that.

[2018-05-18 18:09] sdras opened #15 "This hinting is too strong"
I'm not sure what these references are called (in yellow), but it should not be so strong:
![screen shot 2018-05-18 at 12 08 56 pm](https://user-images.githubusercontent.com/2281088/40250697-56e5ada6-5a94-11e8-999e-eee2fd29be2f.png)

[2018-05-18 19:47] mobayen opened #16 "suggestion for colors"
it's not an issue. I've made these changes of colors to make it fit my  needs
thought it might be helpful

`
"diffEditor.insertedTextBackground": "#99b76d20",
"diffEditor.removedTextBackground": "#ef535020",
"diffEditor.insertedTextBorder": "#00000000",
"diffEditor.removedTextBorder": "#00000000",
"tab.activeForeground": "#00ccff",
"tab.inactiveForeground": "#5f7e9799",
"editor.selectionHighlightB

[2018-05-18 20:01] sdras opened #18 "Arrow functions should not be italicized"
https://twitter.com/smlombardi/status/997565804983017473

[2018-05-18 20:02] sdras commented on #16
Thanks, but I'm gonna stick with my own color scheme here, I'm intentionally not using solid black.

[2018-05-18 20:02] #16 closed

[2018-05-18 20:06] mobayen commented on #16
there is no solid black.
all are transparent

[2018-05-18 20:27] diarcastro commented on #6
I like this conbination:
`"editor.selectionHighlightBackground": "#ffffff10",`
`"editor.selectionHighlightBorder": "#ddd"`

![screen shot 2018-05-18 at 3 25 11 pm](https://user-images.githubusercontent.com/2319600/40256332-b4a66b7c-5aaf-11e8-94d5-a30d72503398.png)

It's from OneDark-Pro from Material Theme.

Thanks for your time an this great theme!

[2018-05-18 21:03] dlinch opened #19 "Some of the coloring logic seems a little off"
Specifically in Ruby:
- Class definitions keep scope resolution coloring, I think most other color palettes give the two sides of the :: two different colors. However in invocation, the two are colored properly, _unless_ I invoke `.new`, in which case it goes back to the same color.

- calling a function with a symbol as an arg is the same color, I would have expected a different color to for bett

[2018-05-18 21:58] sdras opened #20 "Bug in prompts"
@clarkio mentioned that prompts are not correct, here's a gif:
![2018-05-18_16-17-34](https://user-images.githubusercontent.com/2281088/40259643-4579f0d4-5ab4-11e8-97af-c13da6d7f96a.gif)

[2018-05-18 21:59] sdras commented on #19
AH! I didn't have a ruby example that I was working off of. Would you mind PR-ing in an example file into the demos directory? no worries if you don't have the time, I could also do it. thanks!

[2018-05-19 01:35] sdras opened #21 "closing and opening brackets are too strongly highlighted"
reported from twitter

[2018-05-19 02:37] sdras commented on #15
fixed!

[2018-05-19 02:37] #15 closed

[2018-05-19 02:38] sdras commented on #18
fixed!

[2018-05-19 02:38] #18 closed

[2018-05-19 02:39] sdras commented on #6
This should now be fixed! I 'm more of a fan of the background highlight than the border, so I went in that direction. Please feel free to reopen if anything seems amiss. Thanks for the feedback everyone!

[2018-05-19 02:39] #6 closed

[2018-05-19 02:39] sdras commented on #11
This is now fixed! I also fixed the modified file color as well, which used to be too strong. Thanks!

[2018-05-19 02:39] #11 closed

[2018-05-19 02:53] clarkio commented on #20
Thanks for opening this 🙏 I didn't get around to it at the time

[2018-05-19 03:13] sdras commented on #14
Added the settings needed into the readme!

[2018-05-19 03:13] #14 closed

[2018-05-19 03:26] dlinch commented on #19
There you go! Let me know if you want more ruby in there to go off of.

[2018-05-19 04:06] sdras commented on #20
No worries! I'm just glad you pointed it out!

[2018-05-19 04:34] sdras commented on #20
🎉 awesome!

[2018-05-19 04:34] #20 closed

[2018-05-19 17:29] sdras commented on #19
Hey! Thanks for the file!

So I actually can't find a single other theme that creates a difference between before and after the `::`. It's actually not even allowing me to target them separately in TM scopes.

Here's about as good as I could do:
<img width="507" alt="screen shot 2018-05-19 at 11 26 25 am" src="https://user-images.githubusercontent.com/2281088/40271234-b3339000-5b57-11e8-8691-e70d4

[2018-05-19 19:14] marpme opened #25 "HTML tag opening & closing mark"
I would also add that, react (HTML) tags aren't marked like functions and objects are.

React HTML tags

<img width="836" alt="grafik" src="https://user-images.githubusercontent.com/7430964/40272150-7dd13cee-5ba9-11e8-9a4b-14860da63f5e.png">

**VS**

Function marker

<img width="493" alt="grafik" src="https://user-images.githubusercontent.com/7430964/40272154-8c79af4c-5ba9-11e8-9c7f-2087dd932cd7.p

[2018-05-19 19:17] jcmrva opened #26 "Missing scope in italics config?"
I copy/pasted from the readme and I still get a few:

![image](https://user-images.githubusercontent.com/20140997/40272151-3beba8fa-5b77-11e8-8702-f4c5142cea53.png)

It's not particularly bothersome here, just thought I'd point it out.

[2018-05-19 19:46] sdras commented on #26
Thank you for pointing this out! I actually adjusted a few things after putting that in the readme, you're absolutely right that I need to revisit those settings.

[2018-05-19 19:52] sdras commented on #25
Hi! Thanks for visiting.

Can you please elaborate? AFAICT, `getMonthlyIncomeFormatted` is the same in both, the `XVGFormatter` is the same in both, `this` keyword is the same in both, the method `.format` is the same...

To explain a little more in depth where I'm coming from, I'm looking for:
- consistency in meaning
- contrast in same-line usage for red/green deficient colorblindness
- general

[2018-05-20 01:02] emilio-martinez opened #27 "Suggestion: don't emphasize nested square brackets"
I was testing out your theme (thank you!) while writing some tests 🔬and saw this use case which I _personally_ found offputting, so I thought I'd bring it up:

Nested square brackets are italicized which particularly looks kind of funny when juxtaposed against other kinds of brackets, e.g., curly, as shown below.

![code](https://user-images.githubusercontent.com/9163179/40274244-083d2aa0-5b87-11e

[2018-05-20 15:02] astronomersiva opened #28 "Visual cue needed for separation between the editor and the explorer"
Thanks for working on this great theme! I am loving it.

I would like to suggest adding a border between the editor and the explorer or have a different background color for the explorer to provide a nice separation.

[2018-05-20 19:44] dustinmartin commented on #26
I did some googling for this issue and found this snippet on Stackoverflow: https://stackoverflow.com/a/49202435
Quite verbose but does the trick.

Great work on the theme!

[2018-05-21 00:36] markvdesign commented on #28
I agree, some colour separation would be very nice. I actually used this for the sidebar
`"sideBar.background": "#000a13",`
`"sideBar.border": "#262a39",`
I think these look nice.

[2018-05-21 02:59] alexluong opened #29 "Suggestion: React element and HTML element colors in JSX"
Thank you for the great theme. I just wanna bring up one suggestion: when writing JSX, React elements and HTML elements have the same tag color:

Night Owl:

![nightowl](https://user-images.githubusercontent.com/26750127/40288488-1591a2a6-5c79-11e8-868c-8b5560bcad36.png)

whereas in Material Theme Ocean:

![material](https://user-images.githubusercontent.com/26750127/40288523-3d7cc638-5c79-11e8-93

[2018-05-21 04:41] Robo210 opened #30 "Highlighted text in Peek Declaration list is the same color as the background"
Right-click on a symbol and select Peek Declaration. The highlighted text in the list of results has no contrast against the background. (Peek Declaration may be specific to the C/C++ extension when Intellisense is configured for the project. I can provide whatever you need if you don't have code where this shows up.)

Night Owl:
![nightowl](https://user-images.githubusercontent.com/1312684/402907

[2018-05-21 05:16] lauragift21 commented on #10
If this is still open I'd love to take it on.

[2018-05-21 13:38] sdras commented on #10
That would be much appreciated, @lauragift21!

[2018-05-21 13:39] sdras commented on #30
@lauragift21 fixed this! Thank you Gift.

[2018-05-21 13:39] #30 closed

[2018-05-21 13:40] sdras commented on #29
Interesting, that was actually an intentional decision but I think you're right. Let me ask a few other people to get a consensus and then I'll get back to you!

[2018-05-21 13:41] sdras commented on #28
Done!

[2018-05-21 13:41] #28 closed

[2018-05-21 13:42] sdras commented on #27
Oh yeah that's a bug on my part, it's an inheritance failure I just had to fix with arrow functions. Thanks for pointing it out! I'll try to get this done soon.

[2018-05-21 15:00] RespectTheRobot opened #33 "Suggestion: Coloring for increment and decrement operators"
Hi Sarah,
great theme, I really enjoy using it. However, there is a small annoyance I observed:

![Imgur](https://i.imgur.com/2k423Y0.png)

As you can see, the increment operator  `++` (`--` is affected, too) has the same color as the value it is applied to, making it easy to miss while quickly scanning code.
I suggest giving them a different color (maybe the purple used for other math symbols?) t

[2018-05-21 15:11] dlinch commented on #19
I think that looks great! I went back to my old theme and noticed that it is the same color within a single scoping. The two different classes on either side of the `<` were what were different colors, so I think your change above is perfect! It was just when both classes and the `<` were the same color that it was a little difficult to read.
Sorry for leading you down the rabbit hold there for ge

[2018-05-22 03:04] mfour-merickson opened #36 "Please document how I can adjust individual colors"
Here is a quick and dirty issue so you can track the request (as per our conversation on Twitter)

As I have mentioned, the "green" color that is used is closer to "yellow" and causes some confusion for my eyes when executing PHPUnit tests (see screenshot)

![image](https://user-images.githubusercontent.com/31225533/40340063-093f01b0-5d32-11e8-9aaf-51b75cf99ab1.png)

This is how it appears in term

[2018-05-22 05:04] amitbisht511 opened #37 "Some weird color if i set tab visibility to hidden"
Hi,

Just installed this theme saw in trending it is good, but i notice one thing weird color on my tab area if its tab visibility hidden

tab color when i set tab visibility to hidden
[Screenshot  tab visibliey hiddeen](http://prntscr.com/jkypa0)

tab color when i set tab visibility to visible
[Screenshot tab visibily visible](http://prntscr.com/jkyph3)

as its look good if i set tab visiblity to

[2018-05-22 05:04] amitbisht511 commented on #37
May be not an issue but just look weird to me

[2018-05-22 12:51] ricardofpcorreia opened #38 "Suggestion: Could you provide a free font alternative?"
Theme looks awesome. But, it would be great if you have an alternative version using a free font.
Congrats!

[2018-05-22 16:40] gerardo-rodriguez opened #39 "Suggestion: Add vertical line to help see block scope"
Thanks so much for this theme @sdras! I've been enjoying it thus far! 🎉

One thing I just noticed is that most (if not all) of the other themes have a vertical line to help distinguish block scope. I have never jumped into the theme making world, so have no clue how this is done, but if it's not too much of a bother I'd like to make the suggestion of adding this to your Night Owl theme. Thank you

[2018-05-22 18:14] sdras commented on #38
Sure! Fira Mono is one: https://github.com/tonsky/FiraCode. To be clear, this theme doesn't "use" Dank Mono, it's just the font in the screenshots because I knew people would ask. Thanks

[2018-05-22 18:14] #38 closed

[2018-05-22 18:16] sdras commented on #39
Ah, yep! Thats a bug! Sorry about that, I'll get it fixed!

[2018-05-22 18:19] sdras commented on #33
Done, thanks to @wistcc! 🏆

[2018-05-22 18:19] #33 closed

[2018-05-22 18:19] sdras commented on #33
(I'll put out a new release in the next day or so)

[2018-05-22 18:40] sdras commented on #39
well that's just adorable

[2018-05-22 19:00] chrisjlee opened #40 "tagged release?"
Is there a reason why there isn't a tagged release? Love this theme by the way. I pretty excited about it.

[2018-05-23 02:34] mfour-merickson commented on #36
Thank you very much, looking forward to the update.  In the meantime, I will tell my brain (eyes) that magenta is really green when perform PHPUnit testing (I am guessing this would be the same green that would appear for other testing tools such as Jest, Mocha, etc)

[2018-05-23 04:03] sdras commented on #40
For a one person project of this size, it didn't really seem necessary. If I need to go back, I can just go back a commit or two.

[2018-05-23 04:03] #40 closed

[2018-05-23 04:34] amitbisht511 commented on #37
I just fixed that for myself i just copy `editorGroupHeader.tabsBackground` value to `editorGroupHeader.noTabsBackground`

[2018-05-23 04:34] #37 closed

[2018-05-23 09:43] sdras commented on #25
Hm, I'm not sure I'm into it- can you please show me another theme that does this? Then I can tell how the legibility is and also how to target if it's possible.

[2018-05-23 09:44] sdras commented on #19
Awesome! Thanks :)

[2018-05-23 09:44] #19 closed

[2018-05-23 09:46] #10 closed

[2018-05-23 09:47] sdras commented on #10
closed thanks to @lauragift21!

[2018-05-23 09:59] sdras commented on #39
ok! please update, this should be fixed now!

[2018-05-23 09:59] #39 closed

[2018-05-23 10:00] #29 closed

[2018-05-23 10:01] sdras commented on #27
This should be fixed! Please reload!

[2018-05-23 10:01] #27 closed

[2018-05-23 14:00] gnapse opened #42 "Parenthesis occasionally on italics looks "weird?""
Not sure if "weird" is the right word, but:

![image](https://user-images.githubusercontent.com/15199/40428860-3fb293ea-5e6f-11e8-9d6c-62b3f80d3f9e.png)

The circled areas should be self-explanatory, but I'll express here in words what they're about:

1. Parenthesis are shown in italics when calling a function, but not when declaring a function.
2. Parenthesis in italics, while the inner braces wh

[2018-05-23 14:47] gnapse commented on #42
Ok, sorry, I updated to the latest version and most of the issues, if not all, were gone.

I still do not quite get though what's the rationale for what things go in italics and what things don't. For instance, in an object literal, functions declared with the shorthand notation are not in italic, and object property names are in italic:

[code]

Another thing which is perhaps more odd:

[code]

I

[2018-05-23 17:44] gerardo-rodriguez commented on #39
Thank you @sdras!!! Much appreciated! 😄

[2018-05-23 20:31] cthos opened #43 "Vim Visual Mode blanks out selected text if it's highlighted"
Okay, so here's a weird one for you.

If you open up vim in the integrated terminal, and highlight some text via Vim's visual mode that isn't styled, it'll vanish (I think because it turns the text the same color as the background, not that the highlight is covering it up though I can't be sure).

I made a video to illustrate the problem [https://cthos-backups.nyc3.digitaloceanspaces.com/images/vi

[2018-05-23 20:53] Dean-Coakley commented on #36
ahhh my git diffs are purple text. Looking forward to fix/docs! 👍

[2018-05-23 21:03] sdras commented on #43
Oh yuck! I'm so sorry! I'll get this fixed as soon as I can, that's a bug on my part.

[2018-05-23 21:04] sdras commented on #42
Excellent, closing this out. I have some settings documented in the readme for turning off the italics if you wish. I have a writeup explaining some of the choices (not every one line by line, because I talk about a lot of other things too, but the general gist.) I may make a no-ital theme too.

[2018-05-23 21:04] #42 closed

[2018-05-23 21:05] sdras commented on #36
I'm at a conference but it will be soon! Thanks for your patience.

[2018-05-23 21:16] gnapse commented on #42
Thanks!

BTW, +1 on the no-ital alternative, but I think it's ok to use them in the comments. I did copy the README settings and removed comments so they keep italic.

[2018-05-23 21:19] sdras commented on #42
👍

[2018-05-23 21:21] cthos commented on #43
No need to apologize! I'll start learning how VSCode theming actually works so I can give you a PR instead of just opening issues. 😸

[2018-05-23 22:07] sdras commented on #43
Hi! I think I might have just fixed it- can you please reload the extension to the latest version and tell me how it is? Thanks!

[2018-05-23 22:08] sdras commented on #36
Hi! I couldn't sleep so I went and tracked this down. I thiiiiiiink it should be better now, can you please check and see if it looks good to you two? Thanks!

[2018-05-23 22:39] cthos commented on #43
Looks like it's still happening on 0.2.2:

![vim3](https://user-images.githubusercontent.com/456545/40454893-6a440582-5e9f-11e8-8e36-66fa703bb13a.PNG)

[2018-05-23 22:47] cthos commented on #43
This is also just on Vim's default colorscheme, changing it to `ron` doesn't have the same issue - the default clears out the normal color so I'm not really sure what's going on there.

[2018-05-23 22:53] Dean-Coakley commented on #36
@sdras Sorry to hear that.

Definitely much better. Green instead of purple! I think I might like if green could be a bit brighter but perhaps that would increase eye strain in low light.

Open to other opinions...

[2018-05-23 22:57] cthos commented on #43
@sdras - Actually, I don't think this is the theme's fault - It's also happening on the default themes.

I'm really sorry I should have checked that first.

[2018-05-23 22:58] cthos commented on #43
For reference I think the problem is that Vim sets the highlight color by default to whatever the background color of the terminal is, and there doesn't appear to be a way to deal with that - I'm going to go check the VS Code repo and see if there's an issue for this already.

[2018-05-23 22:58] #43 closed

[2018-05-23 23:06] cthos commented on #36
If you do find yourself needing to change colors in a given theme, here are good instructions:

https://code.visualstudio.com/docs/getstarted/themes#_customizing-a-color-theme

The one in question I think is `terminal.ansiGreen`.

[2018-05-23 23:45] sdras commented on #36
@cthos that is literally what was in the last commit/release that fixed the problem. I'll adjust it slightly from here to make it brighter, but this is fixed.

[2018-05-23 23:45] #36 closed

[2018-05-23 23:50] sdras commented on #12
I can't recreate this on any machine, can you please upgrade to the latest version and try again? And also try a few different themes and let me know if you're having this issue on all of them or just mine? Thanks!

[2018-05-24 00:19] cthos commented on #36
:+1: - Sorry for the confusion.

[2018-05-24 00:57] wsmelton opened #44 "Just recommendation on changelog"
Just a short note on ordering your changelog that it helps readers to see what the recent changes are by ordering them in descending order.

Not sure it is common with VS Code extensions but a good many that I use the descending order....just gives quicker reference to the latest fixes without having to scroll down.

My eyes are loving the theme 🥇 🎉

[2018-05-24 02:04] sdras commented on #44
Yeah, that's a good call, I'll get to that on the next release.

[2018-05-24 12:58] killercup opened #45 "Italic || in rust code confusing"
Love your theme! It's finally convinced me to switch back to a dark one.

There is one small annoyance, though. In Rust, you can write an anonymous function with no parameters that returns 42 like this `|| 42`. In expression contexts, `||` is also boolean OR. So, I was quite surprised to see the double-pipe set in italic -- which looks like `//`, the start of a line comment.

The span in question

[2018-05-24 13:43] DavidFrahm opened #46 "Screenshots vs real use"
Thanks for creating and sharing this theme.

Are the screenshots in this README up to date? I was excited to try this for some cool colors but higher contrast because I work outdoors a lot. However after I installed it, everything is not nearly as bright as the screenshots.

[2018-05-24 15:04] sdras commented on #45
Hi, I think I might have fixed this, can you please try to update/reload to the latest version and let me know if it's resolved? Thanks!

[2018-05-24 15:50] mikeerickson commented on #36
![image](https://user-images.githubusercontent.com/183153/40496827-8939b94c-5f2f-11e8-855f-062826c18c81.png)

[2018-05-25 07:00] sdras opened #47 "Text in divs/components have no contrast"
Example here:
https://twitter.com/kentcdodds/status/999779167053856770

[2018-05-25 08:11] bahiirwa opened #48 "Contrast the panels"
Hello Sarah,

good job on the theme. Was wondering if there is a plan to distinguish the panels with color contrast/saturation. Sometimes it is a a little painful to the eye as I try to run around the files and code panels.

![screenshot 2018-05-25 10 58 51](https://user-images.githubusercontent.com/7713923/40533341-19be2e0e-600b-11e8-89f1-4e246c234ce1.png)

[2018-05-25 14:12] smlombardi opened #49 "inconsistent italics in typescript"
Inside of a deeply nested object literal in TS, the booleans are italicized:
<img width="399" alt="screen shot 2018-05-25 at 9 51 29 am" src="https://user-images.githubusercontent.com/835148/40548616-3331f030-6003-11e8-9484-cd99a77b0c32.png">

Also, `variable.other.object.property ` and `variable.other.property` should be treated the same?
<img width="291" alt="screen shot 2018-05-25 at 10 07 27 a

[2018-05-26 01:35] wistcc commented on #47
Hey @sdras,

Checking the issues I noticed this one and AFAICT is fixed on the latest version.

![image](https://user-images.githubusercontent.com/4671080/40571244-808252f2-6063-11e8-9886-24ca0f3a41d7.png)

I wrote the same example Kent did on the `demo/react.js` file. :)

[2018-05-26 21:42] alexsasharegan opened #52 "feat: improve keyword recognition by making color unique"
First off, thanks for working hard on bringing a new theme to the community that really feels truly original in the wide sea of theme options!

## Problem

In JavaScript (and possibly other languages), there is a color duplication between keywords and object keys. This reduces the visibility of keywords, since they don't have a unique color by which to identify them.

### Example

<img width="445"

[2018-05-27 11:47] sdras commented on #48
Yeah, we tried this already and it was too distracting. If too many things have contrast, any contrast becomes busy and not meaningful. I will add some instructions to the readme to change this for people who are interested, though, or create a version of the theme with it for people who disagree, so that they can customize.

[2018-05-27 11:49] sdras commented on #47
Thanks! I just updated this to be consistent with the way that it works in HTML, because that should be the same, while this particular color is now used to call out React components in particular. If you update you should see it. Thanks!

[2018-05-27 11:49] #47 closed

[2018-05-27 11:49] sdras commented on #21
This is a vs code thing in general

[2018-05-27 11:49] #21 closed

[2018-05-27 11:50] sdras commented on #25
Hi! I did some research and that's applied through VS Code, it's not a setting for a theme that I can create. If you're unhappy with it, you can report in their repo, but there'sn not much I can do on my end. Thanks!

[2018-05-27 11:50] #25 closed

[2018-05-27 11:51] sdras commented on #12
I've tested this a bunch and it seems like it's not a problem with the theme, but something might be b0rked with your code install. Feel free to reopen if you disagree and we can talk it through.

[2018-05-27 11:51] #12 closed

[2018-05-27 11:56] sdras commented on #52
Thanks for reporting this! I definitely see what you mean about the keyword, and I will work on that for the next release. For the other side notes, there are very intentional reasons why I have highlighted and contrasted certain colors sparingly. Eventually things become rainbow noise and I've worked very hard to keep the contrasts to a minimum but meaningful, especially in colorblind testing, an

[2018-05-27 13:59] alexsasharegan commented on #52
The dark theme refs were just a common reference to compare some things and come up with ideas. It's really cool to hear why you've taken a different approach on those other points. I totally respect that.

[2018-05-27 15:53] #49 closed

[2018-05-27 15:53] sdras commented on #45
I'm going to close this out but if you find it's still not taken care of, please feel free to reopen!

[2018-05-27 15:53] #45 closed

[2018-05-27 18:16] sdras commented on #52
OK! This should be fixed now, please upgrade to the latest version. I did a few refinements as well, especially for things like case/switch/break, and ruby. Please feel free to reopen if anything looks weird.

[2018-05-27 18:16] #52 closed

[2018-05-27 18:17] sdras commented on #48
OK! The readme is now updated with instructions and suggestions on how to create contrast in the panels! It's based on @wistcc's previous PR :)

[2018-05-27 18:17] #48 closed

[2018-05-27 19:11] alexsasharegan commented on #52
I’ll update and check it out today! I'm sure it's all worked out. Thanks for this!

[2018-05-27 19:55] jcmrva commented on #26
That took care of it, thanks!

[2018-05-27 19:58] alexsasharegan commented on #52
I see that some keywords have changed, but are the object keys supposed to still be the purple color?

![image](https://user-images.githubusercontent.com/16269252/40590081-ae5f09fe-61ad-11e8-94f8-e5c76ad87fea.png)

[2018-05-27 20:40] stefanrempe opened #53 "Color Issues inside PHP classes"
I noticed some color issues with PHP classes where accessing a property has the same color as "$this->".

![image](https://user-images.githubusercontent.com/14946911/40590200-07155aec-61fb-11e8-874c-9ff6784ea72e.png)

[2018-05-27 22:53] sdras commented on #53
Dang, sorry about that. I'll get it fixed in the next release.

[2018-05-28 04:00] aputhin opened #54 "Focus color on secondary list"
Hi! First of all, thanks for this incredible theme. It has been a blast to use.

I found an issue with list rendering. On the command list (cmd+shift+P), the focus (through keyboard navigation) indicator relies on a dotted border on the highlighted item:
<img width="702" alt="screen shot 2018-05-28 at 00 33 33" src="https://user-images.githubusercontent.com/13985684/40596510-b8ab7fbe-6211-11e8-9f2

[2018-05-28 06:06] iqbalhood opened #55 "New Logo For night-owl-vscode-theme"
Hi @sdras, I love the Night Owl Vscode theme you made. Let me create a logo for this project. Thanks :)

[2018-05-28 06:36] stefanrempe commented on #53
Thanks for this quick response and beautiful theme.

[2018-05-28 08:43] killercup commented on #45
Thanks, works perfectly!

And sorry for the late response -- I'm in Paris for RustFest since Thursday (and I can now tell people IRL that this theme is awesome)

[2018-05-28 14:26] nickcernis opened #56 "Mention ported versions?"
Just to let you know that Night Owl's already been ported to iTerm 2 and Hyper:

- Hyper: https://github.com/pbomb/hyper-night-owl
- iTerm2: https://github.com/nickcernis/iterm2-night-owl

Could be mentioned in the readme or wiki, perhaps? Or not! That is fine too. :-)

[2018-05-28 14:33] sdras commented on #56
Yep! Great idea. Will do.

[2018-05-28 14:34] sdras commented on #55
Hi! I kinda like the logo, but if you make one I like better, I will use it. I'm not sure I could say I would take it until I see it :)

[2018-05-28 14:36] sdras commented on #54
Ok, sounds good, I would definitely take a PR for it if you do want to hunt it down.

[2018-05-28 14:37] iqbalhood commented on #55
Okay Never Mind, Let Me Do it for you :)  👍

[2018-05-28 17:30] aputhin commented on #54
I've actually narrowed it down to a Mac OSX issue, as my workplace Linux environment _does_ render the dotted border correctly. But I'm now wondering whether this is a theme-related or vscode/electron issue.

Will investigate further later :grin:

[2018-05-28 22:19] alexsasharegan commented on #52
I think I've found the scope to play with this for JS.

[code]

[2018-05-29 06:50] agubler opened #58 "Typescript Support!"
Thanks for the great work, I'm really enjoying the theme 😄. Just a quick question, is there reason that the same rules for highlighting don't apply across javascript and typescript? For example in js imports are:

<img width="194" alt="vdom_js_ _widget-core" src="https://user-images.githubusercontent.com/1982678/40642280-893b6b32-6314-11e8-808c-8626a9f7fe5a.png">

but in typescript they are:

<img

[2018-05-29 13:09] smlombardi commented on #49
FWIW, I set all constants (null, true, false) to non-italic in my user settings:
[code]

[2018-05-29 13:31] #53 closed

[2018-05-29 14:07] sdras commented on #56
This one too: https://github.com/jsit/night-owl-iterm2-theme

[2018-05-29 19:54] tbsvttr opened #59 "light version"
I know it sounds a bit strange, but I would love a light version of this theme. I often find myself programming in bright environments where I simply can not see dark themes very good. However, this theme is so meticulously crafted that I would love a version which I could still use in such an environment.

At the moment I use [Monokai Light](https://github.com/anoff/vscode-monokai-light) or [Gitb

[2018-05-29 20:00] sdras commented on #59
I actually am planning on doing this, I'm just not sure when I'll have the time. Probably in the next month or so. Thanks!

[2018-05-29 22:10] davidrf opened #60 "Increase contrast for line number foreground"
Hello! Thank you for such an amazing theme 🌟

Would you consider increasing the color contrast for the inactive line number? The numbers are a bit hard to see against the background. For example, the numbers 10 and 12 are a little hard to see in the following image:

<img width="57" alt="screen shot 2018-05-29 at 5 51 37 pm" src="https://user-images.githubusercontent.com/9678182/40687570-1d7031c6-

[2018-05-29 22:15] sdras commented on #60
Yeah that sounds good to me :) I'll get it updated in the next release and let you know when it's done. Thanks!

[2018-05-29 22:54] wistcc commented on #54
Weird, I am not able to reproduce this and I'm also using Mac OSX.

[2018-05-29 22:56] sdras commented on #54
Neither am I, so I'm closing it out for now, but please feel free to reopen if we're mistaken and it's a theme-related issue :)

[2018-05-29 22:56] #54 closed

[2018-05-30 01:09] pedropablo opened #63 "support for PowerShell"
First thing: Thank you very much, really nice theme. I used to switch themes depending on the project type. Now I have a couple weeks without switching, they just look great on Night Owl 👍

I also use VS Code for almost every text editing, and I do a lot of Powershell. And PS scripts looks... kinda funny.

![image](https://user-images.githubusercontent.com/5614764/40693021-cb04d100-637a-11e8-8d79-

[2018-05-30 01:12] sdras commented on #63
Yeahhh that's really fugly. Would you mind please PR-ing the demo folder with an example file? That would really help me out to get this taken care of, as it's not my typical workflow. Thanks!

[2018-05-30 01:14] #60 closed

[2018-05-30 03:13] pedropablo commented on #63
Sure Sarah! I'll get that done first thing morning!

[2018-05-30 04:11] sdras opened #64 "Make a carbon theme"
Not high priority, details here:

https://twitter.com/fixitup2/status/1001672452588498944

[2018-05-30 06:21] nickcernis commented on #56
Another: https://github.com/florianeckerstorfer/night-owl-itermcolors

[2018-05-30 18:14] MurZimminy commented on #56
Here's one for Atom: https://discuss.atom.io/t/vs-code-night-owl-by-sarah-drasner-accessible-theme-ported/55446

[2018-05-30 21:18] erikthedeveloper opened #66 "Support for "Git Commit Message" language mode"
Hi, I've recently been giving this theme a try (loving it BTW! Thank you 😃). I use VS Code as my git editor and just discovered that Night Owl seems to not support the commit/diff syntax as displayed when committing via `git commit -v`.

I suspect this is related to the theme itself since I can change to a number of other themes included w/ VS Code and have this syntax highlighting supported.

**N

[2018-05-30 22:05] wistcc commented on #64
Some things to take into account before doing this:
- We will need to create a `.css` file which is different from what we already have.
- If we update something here (a color or style) we will need to update it there as well.

I can take a look.

[2018-05-31 00:39] wistcc commented on #64
After taking a look, I created this PR https://github.com/dawnlabs/carbon/pull/379 in Carbon's repository.

I hope you like it.

[2018-05-31 12:27] moso opened #68 "Request: Sass syntax highlight == SCSS syntax highlight"
I just stumpled upon this.

It seems Sass has correct syntax highlighting. However it would be nice if the Sass and SCSS would use the same syntax highlighting in this context, as it's basically the same thing, syntax highlight-wise.

Examples:

SCSS:
![https://dev.moso.io/img/code1.png](https://dev.moso.io/img/code1.png)

Sass:
![https://dev.moso.io/img/code2.png](https://dev.moso.io/img/code2.pn

[2018-05-31 12:36] #66 closed

[2018-05-31 12:37] sdras commented on #66
closed thanks to @wistcc!! 🎉

[2018-05-31 13:27] iqbalhood commented on #55
Hello, @sdras
These are my logo proposal for your project. If there any revision, please just tell it.

![owl](https://user-images.githubusercontent.com/1563756/40784832-f286e44c-6510-11e8-99e4-e2105b075ced.jpeg)

![owl2](https://user-images.githubusercontent.com/1563756/40784834-f2cf4ebc-6510-11e8-87ec-9704080ae25a.jpeg)

[2018-05-31 13:30] sdras commented on #55
Thank you Iqbal, these are really nice! But I still really like my original logo. I'm going to keep it as it is. Best wishes.

[2018-05-31 13:30] #55 closed

[2018-05-31 17:36] madisonbullard opened #69 "Using line breaks when defining arrow function params causes unexpected syntax highlight behavior"
[code]
highlights correctly ('funcOneLIne' is blue).

[code]
highlights incorrectly ('funcLineBreaks' is white).

Thanks for a lovely theme. Excellent work.

EDIT: now realizing this may be an issue with `dzannotti.vscode-babel-coloring` instead... Let me know if so

[2018-05-31 20:07] j0hnm4r5 opened #70 "Request: Color Palettes"
It would be great to list the color palette of the standard ANSI colors for this theme, similar to how the Tomorrow theme does it [in their readme](https://github.com/chriskempson/tomorrow-theme#hex-palettes), or in a [base16](http://chriskempson.com/projects/base16/) format.

Doing so makes it easier to port to other platforms, and to customize things within VSCode.

[2018-05-31 20:12] sdras commented on #70
That's a really great point. I have to look into this because for me, it's not just about the palette, but about contrasts. That said, there might be a way I can write out the rules for that as well. Thanks for filing this issue!

[2018-05-31 20:13] sdras commented on #69
Thanks for the issue! I'll take a look and get back to you soon.

[2018-05-31 20:13] sdras commented on #68
Thank you! I'll get it sorted soon and let you know when I do :)

[2018-06-02 09:57] xdrop commented on #56
Just published one for Jetbrains IDEs 😃

https://github.com/xdrop/night-owl-jetbrains

[2018-06-03 02:39] sdras commented on #69
Hi! Yeah, I can't duplicate this, I think what you're seeing is due to a conflict with another extension. Feel free to reopen if not

[2018-06-03 02:39] #69 closed

[2018-06-03 23:42] gnapse commented on #42
I think I found another apparent inconsistency with the use of italics, but I'll add it here in case it's intentional behavior:

<img width="640" alt="image" src="https://user-images.githubusercontent.com/15199/40892475-ab9f85a0-6765-11e8-83d2-5a3e843d5b98.png">

1. Variable `parsingError` is shown italics when declared in line 59, but then is not in italics when used in line 61. Is that intention

[2018-06-04 00:17] sdras commented on #42
Hi! I haven't read through this all yet, but can you please open it in another issue? It will help keep things organized. Thanks

[2018-06-04 01:27] gnapse opened #71 "Inconsistency regarding variables and other things appearing in italic or not in different contexts"
I think I found another apparent inconsistency with the use of italics, but I'll add it here in case it's intentional behavior:

<img width="640" alt="image" src="https://user-images.githubusercontent.com/15199/40892475-ab9f85a0-6765-11e8-83d2-5a3e843d5b98.png">

1. Variable `parsingError` is shown italics when declared in line 59, but then is not in italics when used in line 61. Is that intention

[2018-06-04 01:27] gnapse commented on #42
Sure, done (#71).

[2018-06-04 01:44] sdras commented on #71
Thanks!

[2018-06-04 01:44] sdras commented on #42
Thanks!

[2018-06-04 01:45] sdras commented on #71
Thanks for refiling this! I'll take a look.

[2018-06-04 22:28] wistcc commented on #68
Hey @moso, I would like to help to fix this but I'm not able to reproduce.

Those screenshots were taken from a file with the `.sass` extension and the other one from another file with the `.scss` extension?

Or is it a `.vue` file with different style tags like this:?
[code]

Or is it another thing?

Thanks!

[2018-06-05 03:02] jrsquared opened #72 "Edit filename in Explorer bottom border cut off"
When editing a file name in the explorer, the bottom border is cut off.
<img width="487" alt="screen shot 2018-06-04 at 8 01 55 pm" src="https://user-images.githubusercontent.com/56971/40952889-28206ffa-6832-11e8-9224-01b546cf7a10.png">

[2018-06-05 04:52] sdras commented on #72
Hm, this might be one of those things that's not the theme, but that you need to file with VS Code itself, but I'll double-check my assumption here and get back to you. Thanks!

[2018-06-05 04:58] sdras commented on #68
I can reproduce. Bug fix coming!

[2018-06-05 05:04] moso commented on #68
@wistcc It's a `.scss`-file, sorry for the plain explaination.

However the SCSS syntax doesn't have the same highlighting as Sass have, which can be seen if you change the language in the bottom right corner, and select Sass. The syntax highlighting then appears to be correct.

[2018-06-05 19:07] aaronjensen opened #74 "Contrast in picker is too low for me"
Hi there, first off, thank you for the great theme. I can't wait for someone to port it to emacs so I can use it everywhere :)

I'm having a hard time reading the text in the picker list popups (cmd+shift+p) that isn't highlighted. It looks like the foreground is roughly `#527D99` and the background is `#001023` (when measured on my wide gamut monitor) which only has a [contrast ratio of 4.33:1 an

[2018-06-05 19:09] sdras commented on #74
Thanks for bringing this up! I'll look into it soon.

[2018-06-05 19:15] aaronjensen commented on #74
Thanks, I appreciate that. By the way, it does seem like there's an issue w/ vs code and color profiles--colors measure differently from code than they should. I'll investigate/report that. I also think the second link I sent uses a background color that is for `list.inactiveSelectionBackground` which doesn't actually appear to be the background, so this is probably the most accurate contrast meas

[2018-06-05 20:07] ylorenzana opened #75 "Color of text in JSX files is the same for html tags and whatever is inside of the tags"
Not sure if this was intended or not (it uses different colors for tags and whats inside of them in html files, so I guess it's not intended).
Here is a screenshot, note the line `<h2>About me</h2>`:

![image](https://user-images.githubusercontent.com/29875483/40999814-09024f0a-68da-11e8-8e0b-76674ba1d091.png)

[2018-06-05 22:06] wistcc commented on #75
@ylorenzana Are you using the latest version?

It looks ok to me:
![image](https://user-images.githubusercontent.com/4671080/41005307-ea754590-68ea-11e8-99a8-089ca376f3c2.png)

[2018-06-05 22:39] ylorenzana commented on #75
I'm on v0.3.1

[2018-06-06 02:11] sdras commented on #74
So, I spent a long time working on this and I'm sorry to say but I have to leave it the way that it is. Unfortunately this color is tied to what's in the sidebar, and though I agree it doesn't pass the contrast ratio, it really hurts my eyes to bring it up. It starts competing with the colors in the code, and when it does so, I can't focus on what's happening in my editor. I prefer that when I'm f

[2018-06-06 02:11] #74 closed

[2018-06-06 02:17] sdras commented on #72
I looked into this and I can't actually reproduce. Can you please test on other themes and see if you see the same thing? That would allow us to know if it's a problem with the theme or VS code.

[2018-06-06 02:27] sdras commented on #74
Oh! You can, however, update your own preferences like this, that would pass the color specifications, I'll also update the readme in case other people have this problem:

[code]

[2018-06-06 02:54] sdras commented on #56
done!

[2018-06-06 02:54] #56 closed

[2018-06-06 02:55] sdras commented on #68
This should be fixed! Please update.

[2018-06-06 02:55] #68 closed

[2018-06-06 03:00] aaronjensen commented on #74
Thanks, @sdras, that helps. My sidebar is hidden unless I'm using it, so I don't mind the additional contrast there--I actually prefer it.

It does seem like it'd be ideal if there was a different selector for that popup. Maybe if it bothers someone enough they can PR that to Code 😄 Thanks again!

[2018-06-06 03:06] ylorenzana commented on #75
Hey @sdras ! Thanks for giving this a look, and of course thanks for creating this awesome theme—once I gave it a try, I never went back to my old one setup. I tried updating it again, and am now running v.0.3.2. I restarted everything, and I'm still getting the same results as before. I tried opening a separate folder in vsc and changing the language mode to both javascript(babel) and javascript(

[2018-06-06 03:29] wistcc commented on #75
Pretty weird, I'm still not able to reproduce. I tried both (the italics and not italics version), just in case.

I wonder if maybe another extension that you have installed could be creating this effect.

[2018-06-06 03:36] jrsquared commented on #72
Ah, I forgot that I keep my VS Code zoomed out one level, that's the only time I can reproduce it.
Other themes only have a border on the left side at this zoom level though.
Regardless, not a huge deal...

[2018-06-06 03:41] ylorenzana commented on #75
@wistcc I hadn't thought of that. I disabled some of my extensions, turns out I was using babel es6/es7 extension for syntax highlighting, and it was causing the conflict. I didn't even remember I had that installed!

Thanks to both of you for your time and help!

[2018-06-06 03:51] sdras commented on #72
I thought it might be something like that. Yeah, it's not something the theme can change anyways but if it really bothers you, you can file an issue with VS Code, they do a lot of work to fix stuff up :)

[2018-06-06 03:51] #72 closed

[2018-06-06 09:40] moso commented on #68
Perfect!

Thanks Sarah!

[2018-06-07 17:22] cdock1029 opened #78 "import style in .tsx"
**version**: 0.3.2

This issue:
https://github.com/sdras/night-owl-vscode-theme/issues/58

still applies to `.tsx` files

<img width="279" alt="screen shot 2018-06-07 at 1 21 43 pm" src="https://user-images.githubusercontent.com/802586/41115530-cc65ef34-6a55-11e8-92be-30158e1f97bc.png">

[2018-06-07 20:07] alpcanaydin commented on #78
<img width="425" alt="screen shot 2018-06-07 at 23 06 59" src="https://user-images.githubusercontent.com/1801024/41123499-81dc6e96-6aa7-11e8-9520-b3b5a4580bc6.png">

Also in javascript files too.

[2018-06-09 12:59] mschipperheyn opened #79 "Make "in code" cursor more visible"
Hi, persuant my tweet, a request to make the cursor more visible when it is "inside code". It's very hard to see. Outside of code, against black it's easy, but inside...
<img width="290" alt="screen shot 2018-06-09 at 09 57 13" src="https://user-images.githubusercontent.com/384959/41191824-8d2a0b62-6bcb-11e8-9128-7ac30d317736.png">

[2018-06-09 13:02] mschipperheyn opened #80 "JSX component, this vs member coloring"
I would like to suggest some more color variations here:
- this should be a different color than a member
- JSX component name should be a different color than a member

<img width="734" alt="screen shot 2018-06-09 at 09 59 05" src="https://user-images.githubusercontent.com/384959/41191849-e989f1ba-6bcb-11e8-9c4f-10d3374ad151.png">

[2018-06-09 15:00] sdras commented on #80
Hi! Thanks for visiting. This was actually fixed about 10 version back, please upgrade.

[2018-06-09 15:00] #80 closed

[2018-06-09 15:01] sdras commented on #79
That's good feedback, thanks! I'll take a look.

[2018-06-11 01:01] rosswaycaster opened #83 "React syntax coloring not the same as screenshot."
Hello! First off, great theme! I'm having trouble matching my React syntax color to the screenshot (which I really love). What extension/language do I need to use to match it? I'll attach what my code looks like vs the themes screenshot for reference. I know I'm being nit-picky 😅. Thanks for the help!

Notice:
1. "class" on line 6 is not italicized
2. The imported component "Button" on line 17/19

[2018-06-11 01:11] rosswaycaster commented on #83
These are the extensions I currently have installed

![extensions](https://user-images.githubusercontent.com/1231836/41208547-63d12f50-6cea-11e8-8783-a2f7580720c8.png)

[2018-06-11 01:13] sdras commented on #83
These are all things that have been asked for and addressed in issues and PRs and releases since it first launched. I can update the screenshot, but full disclosure, it's not a super high priority at the moment because there are only small differences.

If you'd like to submit a PR to fix it though, I'd be more than happy to take it :)

[2018-06-11 03:39] #78 closed

[2018-06-11 14:24] rosswaycaster commented on #83
Well I feel silly now 😄 I'd be happy to update the screenshots! Thanks again for the theme!

[2018-06-11 14:24] #83 closed

[2018-06-11 21:11] #79 closed

[2018-06-12 00:46] mschipperheyn commented on #80
Apparently not. I'm on version 0.3.2 (apparently). Same screenshot.

[2018-06-12 05:57] Noviny opened #87 "Add syntax highlighting for flow comment syntax"
NB: I had some poking around at scoping in vs-code theme options, and it looks like the internals of comments don't have type information:

![image](https://user-images.githubusercontent.com/15622106/41272268-ce9ae722-6e57-11e8-9283-e7a69841d2dc.png)

which implies that targeting parts of a comment isn't possible. If that's true, this should just be closed. Otherwise if there is a scope that can w

[2018-06-12 06:03] sdras commented on #87
You're correct- I can't target this directly. If you can either
1. point out a theme that targets this correctly or
2. file an issue with VS code so that I can target it
I will reopen this issue and work on it :)

Thanks for visiting, sorry about the lack of support here.

[2018-06-12 06:03] #87 closed

[2018-06-12 06:53] Noviny commented on #87
Thanks for the swift reply!

It looks like since the types for js are derived from ts, this means this syntax would need to be added into typescript itself, which has its own ongoing conversation around comment types.

Sorry for raising this non-useful request. Thanks for the awesome theme. :)

[2018-06-14 19:20] ptpaterson opened #88 "Lighter color for Active Indent Guide"
---
name: Lighter color for Active Indent Guide
---

**Describe the solution you'd like**
Assign a lighter color to `editorIndentGuide.activeBackground`

**Is your feature request related to a problem? Please describe.**
I have been using this theme for a while, but didn't even notice that the "active" indent guide had a different color.  When I learned that there was a setting for this, I immedia

[2018-06-14 20:57] sdras commented on #88
Ah you know, my bracket pair colorizer extension was overriding this so I didn't see it. I'll disable it and work on it, thanks!

[2018-06-14 22:29] wistcc commented on #88
Yeah, I also use Bracket Pair Colorizer and didn't notice before. I'm fixing it here #89 though.

[2018-06-15 00:05] sdras commented on #88
You have a really accurate name, Winner. You're definitely a winner. I'll go review.

[2018-06-15 00:05] #88 closed

[2018-06-15 00:08] wistcc commented on #88
Hahahah. Thanks!

[2018-06-15 09:22] kierzniak opened #90 "Contrast between the same words highlighted and selected"
Hi,
thank you for your work on this great theme.  👍

I think that contrast between the same word highlighted and the same word selected is to small. Take a look at my screenshot first three `top` words are selected with cmd + d the other three are just highlighted. It is often confusing to me.

![screenshot](https://user-images.githubusercontent.com/590020/41460869-4ddb246a-708e-11e8-99ea-181d6be8

[2018-06-16 00:30] chrisdavidstory opened #91 "TypeScript Support"
**Describe the solution you'd like**
React components written in TypeScript should render (e.g. colors and italics) similarly to those written in JS.

**Is your feature request related to a problem? Please describe.**
In some projects, I'm working with React in TypeScript and others in JavaScript. The rendering being different throws me off. Screenshots provided below.

`*.jsx files`
![reactinjs](

[2018-06-16 02:15] sdras commented on #91
Oh interesting, yeah that's definitely a bug on my part, thanks! I'll get to it soon.

[2018-06-16 02:17] sdras commented on #90
Hi! Thank you for reporting. At first I didn't see what you mean but taking a look, you're absolutely right. I'll get this fixed soon.

[2018-06-16 04:12] palashmon commented on #91
Hi @sdras, I can look into this bug if that is fine with you?

Also, @chrisdavidstory could you please tell what software or online site did you use to get those rounded border images with the box-shadow effect? I really like it.

Regards!

[2018-06-18 14:03] chrisdavidstory commented on #91
@palashmon Those screenshots were generated with the [PolaCode](https://github.com/octref/polacode) plugin for VSCode.

[2018-06-18 14:22] palashmon commented on #91
Awesome. This is a very useful extension. I will install it now.

Thanks for letting me know about it :+1:

[2018-06-18 15:19] Kurtz1993 opened #93 "Cursor is very unreadable when positioned on a bracket"
With Bracket Pair Colorizer turned on:
![image](https://user-images.githubusercontent.com/5412470/41545492-e8e899f2-72e0-11e8-9876-42938b65fe7e.png)

With Bracket Pair Colorizer turned off:
![image](https://user-images.githubusercontent.com/5412470/41545609-2f773518-72e1-11e8-8675-15bdaf4efc27.png)

![image](https://user-images.githubusercontent.com/5412470/41545625-38929b88-72e1-11e8-82bf-2c6d2a7

[2018-06-18 15:30] sdras commented on #93
We actually have a fix for that in the cooker! I'll release sometime in the next day or so, and let you know so you can check if it fixed the issue for you. Thanks!

[2018-06-18 15:32] #91 closed

[2018-06-18 18:11] bsvipas opened #94 "TypeScript React (TSX) coloring"
JavaScript React (JSX)
![image](https://user-images.githubusercontent.com/30043375/41553771-72d7d2f4-733b-11e8-8ed3-2ddb838e3408.png)

TypeScript React (TSX)
![image](https://user-images.githubusercontent.com/30043375/41553861-b81699f4-733b-11e8-9ba4-3dbdbb4f385c.png)

Code:

[code]

**As you can see TSX coloring is bad.**

[2018-06-18 18:13] bsvipas opened #95 "TypeScript and JavaScript (type, interface, class, enum)"
**As I can see colors are not consistent in JS and TS.**

JS:
![image](https://user-images.githubusercontent.com/30043375/41554046-536d1586-733c-11e8-8908-6659357181e5.png)

TS:
![image](https://user-images.githubusercontent.com/30043375/41554056-60689b16-733c-11e8-8969-60cd12ddd614.png)

[2018-06-19 00:19] #95 closed

[2018-06-19 00:21] wistcc commented on #94
I just noticed that this PR https://github.com/sdras/night-owl-vscode-theme/pull/96 also fixes this issue.

This is how it looks now:
![image](https://user-images.githubusercontent.com/4671080/41568689-1b01007e-7335-11e8-8367-71958073d366.png)

@sdras Your call to close it.

[2018-06-19 01:06] sdras commented on #94
Wonderful! Thanks Winner.

[2018-06-19 01:06] #94 closed

[2018-06-19 01:07] sdras commented on #93
This should be fixed! Please reload. Feel free to reopen if your issue isn't resolved.

[2018-06-19 01:07] #93 closed

[2018-06-19 01:08] chibicode commented on #90
You can modify it through `"workbench.colorCustomizations"`. Originally, it had `"editor.selectionBackground": "#1d3b53"`, which was `HSB(207, 65, 35)`. I've increased brightness to `HSB(207, 65, 60)`, which made it `#366C99`.

[code]

[2018-06-19 01:44] chibicode commented on #90
@sdras Also, I've noticed that, if you **search for a word**, and then select the matching word, then it's hard to tell that the word is selected. In the example below, I've searched for "goodbye" and then tried to select "goodbye" by double clicking the word:

<img width="516" alt="screen shot 2018-06-18 at 6 43 32 pm" src="https://user-images.githubusercontent.com/992008/41571336-952050f2-7327-1

[2018-06-19 16:26] mikeerickson opened #97 "Restore default status bar colors"
**Describe the solution you'd like**
I am loving the Night Owl theme, great work!  I have one item that I am looking to change, but not sure exactly where i need to go to do it.

Using most default themes, the bottom status bar is blue (in Code, dont recall what it is when using Insiders release, maybe green), but when Night Owl is active, it takes on the default background color.   Is there a set

[2018-06-21 07:50] ghost opened #98 "Colors after 1.25"
https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_25.md

**Added:**
`editorGroup.emptyBackground`: Background color of an empty editor group.
`editorGroup.focusedEmptyBorder`: Border color of an empty editor group that is focused.

**Deprecated:**
`editorGroup.background`: no longer supported with the introduction of the grid editor layout feature.

[2018-06-21 08:00] palashmon commented on #98
Thanks for letting us know about it. We will try to fix it in next release.

Regards!

[2018-06-21 19:19] Kurtz1993 commented on #93
Seems to be a lot better now :smile: Thanks @sdras

[2018-06-21 22:35] BrianDGLS opened #99 "When showTabs is false tab bar has wrong color"
When showTabs is false the tab bar has a colour that doesn't match the theme.

Awesome theme, thanks!

Screenshot to demonstrate:
![image](https://user-images.githubusercontent.com/7824734/41748751-183c7652-75ab-11e8-9416-abdd1e4b592a.png)

[2018-06-22 03:01] sdras commented on #99
Good point, thanks! I will fix this as soon as I can.

[2018-06-23 03:10] mikeerickson commented on #97
@wistcc awesome, thx for that 👍😊

[2018-06-23 03:30] wistcc commented on #97
@sdras good to close!

[2018-06-23 15:43] mikeerickson commented on #97
I have applied the above settings, but the one for setting background color does not work (the foreground one works fine)

[2018-06-23 15:44] mikeerickson commented on #97
![image](https://user-images.githubusercontent.com/183153/41811297-a6fb6d1e-76c1-11e8-9771-4f77aa03b396.png)

[2018-06-23 15:55] mikeerickson commented on #97
Arrgh, stupid me, I just needed to reload. My apologies

[2018-06-23 15:55] #97 closed

[2018-06-27 06:03] bsvipas commented on #90
This is hard to fix because VS Code works that way. You need carefully match up colors and make them transparent. As an example, you can take Dark+ theme which is default theme, but to search for colors you need to go through VS Code source since it's built-in theme.

https://github.com/Microsoft/vscode/issues/34105#issuecomment-328775848

[2018-06-27 08:23] bsvipas opened #102 "TypeScript italic (let & const)"
![image](https://user-images.githubusercontent.com/30043375/41961923-71ef6c90-79fc-11e8-861a-ca6ac007a4f0.png)

As you can see both `a` and `b` is italic, but this incorrect since in JS they are not italic, or I'm missing something? As I know it needs to be italic if it's in upper case, but not in lower case.

[2018-06-27 08:35] bsvipas opened #103 "More italics"
What about more italics?

`get`
`set`
`function`
`this`
`super`
`const`
`let`
`var`
`Promise`
`Map`
`console`
`__filename`
`__dirname`
`class`
`interface`
`type`
`extends`
`enum`
`export`
`export default`
`module`
`if`
`else if`
`switch`
`case`
`return`
`break`
`continue`
`while`
`for`
`for...in`
`for...of`
`while...do`
`await`
`async`
`try/catch/finally`
`throw`
`declare`
`namespace`
`arguments`

[2018-06-27 08:43] bsvipas opened #104 "get/set in JS/TS"
![image](https://user-images.githubusercontent.com/30043375/41963067-564c4604-79ff-11e8-9a4b-81a7433be77b.png)

As you can see it should be the same as `static`, talking about color and italic.

[2018-06-27 08:55] bsvipas commented on #103
If needed I can create PR.

/cc @sdras

[2018-06-27 08:55] bsvipas commented on #104
If needed I can create a PR.

/cc @sdras

[2018-06-27 08:55] bsvipas commented on #102
If needed I can create a PR.

/cc @sdras

[2018-06-27 09:03] bsvipas opened #105 "switch/case coloring"
Shouldn't `switch/case` be the same color as `if/else/elseif`?

![image](https://user-images.githubusercontent.com/30043375/41964228-270e9ee8-7a02-11e8-9fca-fb0099f2f622.png)

[2018-06-27 09:04] bsvipas commented on #105
If needed I can create a PR.

/cc @sdras

[2018-06-27 09:11] bsvipas opened #106 "function coloring"
Isn't `function` suppose to be as other `control` keywords to be consistent?

![image](https://user-images.githubusercontent.com/30043375/41964624-274f627e-7a03-11e8-9e2d-b955b2fbd5f3.png)

Same goes for `switch/case`, but I already opened an issue for that too.

[2018-06-27 09:11] bsvipas commented on #106
If needed I can open a PR.

/cc @sdras

[2018-06-27 09:28] bsvipas opened #107 "String template literals in JS/TS/???"
![image](https://user-images.githubusercontent.com/30043375/41965055-50991a16-7a04-11e8-8a17-ed5c2e4358ff.png)

It should be the same color as simple string, but instead it's green, why?

If needed I can fix it by creating a PR.

[2018-06-27 09:31] bsvipas opened #108 "Go italics & coloring"
I saw Go colors are not consistent with JS/TS colors, so to keep it the same between switching the langs I think it makes sense to improve Go coloring and add some italics.

Here it's what I did to fix all the Go problems. I used this file to test colorings: https://golang.org/src/net/http/request.go

[code]

![go](https://user-images.githubusercontent.com/30043375/41965736-f377c394-7a05-11e8-8531

[2018-06-27 09:52] bsvipas opened #109 "class, extends, interface, enum, type - JS/TS"
1. In my opinion `class`, `interface`, `enum`, `type` should be the same color.
2. `extends/implements` isn't consistent with `class` keyword.
3. `extends React.Component` isn't consistent too because `React` is white while `Component` is green, they should be the same color.

![js ts](https://user-images.githubusercontent.com/30043375/41966863-e73f9130-7a08-11e8-9d36-5671486d588e.png)

**This ima

[2018-06-27 09:52] bsvipas commented on #109
If needed I can create a PR.

[2018-06-27 15:29] sdras commented on #102
Different languages use different rules, somewhat depending on what will appear near them for contrast, more info in this article: https://css-tricks.com/creating-a-vs-code-theme/

[2018-06-27 15:29] #102 closed

[2018-06-27 15:31] sdras commented on #103
No, if you go through the changelog you can see that I was fairly aggressive with the italics at first but after a lot of feedback and also working with the theme myself, I decided to bring the usage down. If you want, can always customize the theme (instructions in the readme), or another theme might suit you better.

[2018-06-27 15:31] #103 closed

[2018-06-27 15:32] sdras commented on #106
no, these are intentionally set apart, please see article in other issue for more info, thank you

[2018-06-27 15:32] #106 closed

[2018-06-27 15:33] sdras commented on #104
Yeah, this is a spot where it makes sense to make them the same, I would accept a PR for this, thank you!

[2018-06-27 15:33] sdras commented on #108
Ah great, yes that is better. I would love a PR for this.

[2018-06-27 15:34] sdras commented on #107
No, I wanted to set these apart, this is intentional. Sometimes while working I need to see that there is a distinction. Thanks though!

[2018-06-27 15:34] #107 closed

[2018-06-27 15:35] sdras commented on #105
I actually went back and forth on this one and this is what I settled on, with the break and function keywords I wanted more contrast and someone else remarked that it was too similar/too much italic. I think it's good as is now.

[2018-06-27 15:35] #105 closed

[2018-06-27 15:38] sdras commented on #109
This is actually intentional- with all of the other intentional things in this theme that you're not into, maybe it would be good to pursue another theme? There were a lot of choices made to set things apart for contrast that other themes don't draw a hard line on and have more consistency :) you might like them better.

[2018-06-27 15:38] #109 closed

[2018-06-27 15:51] bsvipas commented on #102
@sdras so you're saying it should be italic in TS and non-italic in JS? You left it intentionally? Because it's very easy to fix such issue since JS almost = TS in terms of color scopes and even language (it just adds type system and several new keywords). Sorry if I misunderstood you.

[2018-06-27 15:54] bsvipas commented on #103
@sdras But just for the curiosity why then you keep some keywords italic? It looks a little bit weird then `class` is non-italic and `extends` is italic. But maybe it just for me. And with such amazing font like Dank Mono italic look amazing :smile:

[2018-06-27 15:56] bsvipas commented on #105
@sdras Maybe you're right, it makes sense to separate it since it can be messy with a lot of LOC.

[2018-06-27 15:57] bsvipas commented on #106
@sdras Right now I understand why, to separate things which improves readability.

[2018-06-27 15:59] bsvipas commented on #107
@sdras At first I thought it was bug and you forget to set coloring for template literals, but now I can agree it sounds like a feature because you can easily spot the difference and sometimes it really matters. You're smart @sdras :)

[2018-06-27 16:07] bsvipas commented on #109
@sdras I love this theme. I just want to improve it, that's why I spent my time to report all these issues (it looked like issues for me), but now some of them seems like a good features after you explained them to me. It just looks a little bit weird to see some different things like italic for `vars` instead of non-italic, `React` white instead of orange and maybe `interface` needs to be the sam

[2018-06-27 16:08] bsvipas commented on #104
Okay. I will create a PR today :sparkles:

[2018-06-27 16:12] bsvipas commented on #108
I'm happy you liked it!

1. What do you think about `func` coloring and italic, should it be the blue as it's and non-italic like in JS/TS?
2. Also, what is your opinion about so much italic things since `if`, etc. are non-italic in JS/TS.
3. Also, what about `var`, `const`, they are italic too, not like in JS/TS.

/cc @sdras

[2018-06-27 17:30] bsvipas commented on #104
@sdras PR already opened: https://github.com/sdras/night-owl-vscode-theme/pull/110 :fire:

[2018-06-28 19:59] bsvipas commented on #108
Opened a PR: #112

[2018-07-05 08:52] robphoenix commented on #99
In the meantime you can fix this in your settings.json file

[code]

[2018-07-05 15:05] #99 closed

[2018-07-05 21:40] deadcoder0904 opened #115 "Highlight Terminal Tabs when Selected"
**Screenshots**
<img width="1216" alt="nightowl" src="https://user-images.githubusercontent.com/16436270/42349017-f044ae02-80c8-11e8-87f4-9e47acccd443.png">

As you can see in the Terminal above, I have selected Terminal tab but can't be sure its selected since its not highlighted properly. Same goes with other tabs.

PS - I love this theme. I earlier tried this & didn't like it as it was too much

[2018-07-05 23:08] sdras commented on #115
Yep that's a bug for sure! Thanks for pointing it out, I'll take a look soon.

[2018-07-05 23:08] sdras commented on #108
Done!

[2018-07-05 23:08] #108 closed

[2018-07-05 23:09] sdras commented on #104
Thanks!

[2018-07-05 23:09] #104 closed

[2018-07-08 23:04] sunnyday90210 opened #117 "Syntax color highlighting in React tags and text are the same color"
Possible issue with Syntax color highlighting in React. Tags and text are showing the same color. Also, the import statement does not match the color them in the demo. Mine is showing green and it should be purple.

![screenshot_1](https://user-images.githubusercontent.com/26734422/42424810-8c183ccc-82c7-11e8-8be4-7d092ceee0ca.png)

[2018-07-09 03:37] palashmon commented on #117
Hi, thanks for reporting this.

I have a few queries:
1. What is the file type for this code? `.js`, `.jsx` or `.ts`?
2. Are you using any syntax highlighting extensions like [`Sublime Babel`](https://marketplace.visualstudio.com/items?itemName=joshpeng.sublime-babel-vscode) or something else?

Regards!

[2018-07-09 16:50] Kurtz1993 opened #118 "Async/await keywords have differences between JS and TS"
I was working on an example both in JS and in TS, and I found that the *await* keyword is rendered without italic and different colour as it is on JS.

## TS
![image](https://user-images.githubusercontent.com/5412470/42464273-3142e912-836e-11e8-88c3-6ef561bac93b.png)

## JS
![image](https://user-images.githubusercontent.com/5412470/42464292-3d7b174a-836e-11e8-965a-df819a8c66b6.png)

Thanks for kee

[2018-07-10 05:06] sunnyday90210 commented on #117
You are totally right I must have installed babel syntax highlighter a long time ago when some of my themes did not support it. I just disabled it now everything is fine, this was my fault the issue can be closed. Thanks again for such a beautiful theme.

[2018-07-10 18:42] #117 closed

[2018-07-11 08:37] chibicode commented on #59
Also waiting for the light theme :) I also like bluloco-light:
https://medium.com/@chibicode/the-best-visual-studio-code-dark-and-light-themes-july-2018-edition-a9c2cc9548da

[2018-07-11 08:58] tbsvttr commented on #59
@chibicode bluloco-light is nice, but it has the problem that it does not support italics.

[2018-07-11 11:29] uloco commented on #59
I am planning to add support for italics. Would you mind me telling, which words you want to have in italics? keywords only? https://github.com/uloco/theme-bluloco-light

[2018-07-12 11:38] morajabi opened #119 "CSS syntax highlighting"
**Describe the solution you'd like**
I think having CSS highlighting is so cool! Or we already have it and I'm missing it? :)
<img width="694" alt="screen shot 2018-07-12 at 4 07 27 pm" src="https://user-images.githubusercontent.com/12202757/42630884-b0689c6a-85ed-11e8-9945-506f25c0e066.png">

[2018-07-15 23:00] #115 closed

[2018-07-15 23:01] #118 closed

[2018-07-20 15:19] isaacplmann commented on #90
@chibicode Thank you!  This has been bugging me for a while - but not enough for me to figure out how to fix it.

[2018-07-20 15:35] isaacplmann commented on #90
So I did end up having to make a few more tweaks to make it really work the way I wanted.

You can make colors transparent by adding another two hex digits on the end of the color, like this `#RRGGBBAA`.  `editor.findMatchHighlightBackground` was being applied at the same time as `editor.selectionBackground` for me, so I needed to make `editor.findMatchHighlightBackground` have some transparency.

[2018-07-24 16:42] chibicode commented on #90
I've copy-pasted from another excellent dark theme [Bluloco Dark](https://github.com/uloco/theme-bluloco-dark):

[code]

[2018-07-24 19:54] cheilman opened #122 "SEText-style Markdown Heading Colors"
**Describe the solution you'd like**

If you mix markdown heading styles, then only the atx styles (###) are colored.  The Setext-style (underlines) are not.

[code]

I'm not sure how to contribute w/ theme development, but I got this to work with the following customization settings.  It just reuses the same color as the other headings, which is fine for me.  I don't know if other people like hav

[2018-07-28 15:38] sdras commented on #90
This is all awesome feedback! I'm slammed for the next few weeks but I'll try to get this in when I can (though probably in slightly lower contrast than the dakara theme).

I'd also take a pull request for it if you want it faster. Cheers everyone!

[2018-07-28 15:40] sdras commented on #122
oh great, thank you for reporting this! I'll get to it soon. Definitely a bug on my part.

[2018-07-28 15:41] sdras commented on #119
I'm sorry, I'm not sure what you're referring to here, the screenshot you posted has syntax highlighting? can you please be more specific?

[2018-07-28 15:42] sdras commented on #98
Ah, interesting, good to know, thanks!

[2018-07-28 15:44] sdras commented on #64
Thanks to @wistcc for creating this!

[2018-07-28 15:44] #64 closed

[2018-07-28 18:02] cheilman commented on #122
Thanks so much! Love the theme :-)

[2018-07-29 09:43] duranivan opened #124 "Object inside class"
**Describe the solution you'd like**
First of all, thanks for an awesome theme @sdras , this is my default theme right now. One thing I noticed is that when an object is inside a class (in Javascript), it looks different than when outside the class.

This is how it looks right now:

![code2](https://user-images.githubusercontent.com/20104703/43364886-e84d22a2-933c-11e8-9d2c-a50969712701.png)

This

[2018-07-29 13:41] dakaraphi commented on #90
@chibicode I found it very hard to make a theme that both looked good and had enough contrast in the selections that made them easily recognizable.

Unfortunately, VSCode doesn't have the ability to inverse the text color or specifically adjust the text color in conjunction with selections.  Also, if you add alpha to the selections they will mix in ways that might not be desirable.  When the selec

[2018-07-29 14:01] chibicode commented on #90
@dakaraphi thanks for the info! I agree that this customization feature is causing a lot of headaches. I've forwarded your comment here: https://github.com/Microsoft/vscode/issues/34105#issuecomment-408679611

@sdras thanks, no pressure!

[2018-08-02 13:12] Jarzka opened #126 "Add official support for Clojure(Script) syntax highlighting"
Related to my PR: https://github.com/sdras/night-owl-vscode-theme/pull/125

Here is a screenshot of the current syntax highlighting when using Clojure / ClojureScript language with Night Owl theme:

https://imgur.com/a/ATrvYWG

I can see three problems here:

- Keywords are not highlighted. For those who don't know Clojure, keyword is a special kind of type in Clojure. It is mostly used in maps as

[2018-08-02 17:25] sdras commented on #126
Awesome, thanks! I should be able to get to it in the next couple weeks.

[2018-08-09 10:58] batpigandme opened #128 "Add TextMate, Ace, and RStudio themes to community ports ☺️"
Hey Sarah,

Decidedly obsessed with this theme, so I ported it (to the best of my limited abilities) for TextMate, Ace, and RStudio [here](https://github.com/batpigandme/night-owlish).

If it meets your standards of excellence (no sarcasm…you've done a great job, and are totally entitled to quality control), I'm happy to submit a PR adding it to the README, or you can add it yourself (totally up t

[2018-08-09 11:07] bgarrant opened #129 "Please make a Light Theme"
This is such a great theme for night coding.  Any chance you can make a daytime version also with a light colored background?

[2018-08-10 20:09] chibicode commented on #129
Duplicate of https://github.com/sdras/night-owl-vscode-theme/issues/59 - please upvote there! 😉

[2018-08-11 16:19] #129 closed

[2018-08-16 17:09] mikeerickson opened #131 "Style Breadcrumb Bar"
With the release of Breadcrumbs in latest VSCode release (1.27 release and above) could you please consider styling these new elements.  As I am sure you are aware, the current breadcrumb style is using the default VSCode colors, would like to see it look as purdy as rest of the UI

![image](https://user-images.githubusercontent.com/183153/44223363-4571dd80-a13c-11e8-8732-cca63daf3128.png)

[2018-09-08 18:26] fpigeonjr commented on #117
same issue but then uninstalled the `Babel Javascript` extension and now its fine.

[2018-09-10 16:33] betrocker opened #133 "Font ligatures (italic) is not working"
I just installed this theme in VSCode 1.27.1 and I installed Dank Mono font on my mac but I don't get font italic ligatures (for ex. for import, extends, from in React file).

What could be a problem?

I enabled ligatures in VSC settings and set font to "Dank Mono".

[2018-09-11 15:34] xiaoyu-tamu opened #134 "selected language in snippet panel is hard to see"
Open user snippet config, and use array key to navigate. You can see that the default theme is easy to identify current selected item.

![screen shot 2018-09-11 at 10 32 13 am](https://user-images.githubusercontent.com/33362998/45370566-24bb6d00-b5ae-11e8-820a-696762b14327.png)

![screen shot 2018-09-11 at 10 33 20 am](https://user-images.githubusercontent.com/33362998/45370593-2b49e480-b5ae-11e8-

[2018-09-12 14:25] joshmedeski opened #135 "Status Bar Foreground Color with Vim"
While using the [vim plugin](https://marketplace.visualstudio.com/items?itemName=vscodevim.vim) the status bar colors don't work very well with the night owl default text color (it's like a blueish gray).

I have control of the background colors(s) depending on the mode but most of the colors I chose don't look good with the current foreground color.

Is it possible to change the foreground color

[2018-09-13 17:03] jcoleman-techempower opened #136 "Color mismatch"
### VSCode 1.27
### Night Owl 0.4.1

In previous versions for JS, the `const` keyword and the variable name used to be two separate colors. They are currently the same color.

Also, an object literal's keys may be colored purple, however an object as an argument's keys are only white.

Here is a picture with a pretty good example of both.

![screenshot from 2018-09-13 10-02-12](https://user-images

[2018-09-14 09:43] kierzniak commented on #90
I have been using @chibicode suggestions for some time and it is working for me really good. I see some inconsistency between languages but this is probably problem of vscode itself not the theme. One think I'm not sure about are colors. Do they fit Night Owl?

**HTML: cursor before div**
<img width="644" alt="html-cursor_before_div" src="https://user-images.githubusercontent.com/590020/45542599-a

[2018-09-15 15:49] palashmon commented on #133
Hi, thanks for reporting this. Could you please share some screenshots of what exactly the issue is and what is the expected behaviour, if possible?

Regards!

[2018-09-15 15:51] palashmon commented on #131
Hi, thanks for reporting this. This should be fixed with PR #130. Please wait for the next release.

Regards!

[2018-09-15 15:56] palashmon commented on #128
Hi, thanks for your contribution. Please create a PR for this and I will let @sdras know about it so that she can review & merge it whenever she is free. Also, please follow the format as it is done in PR #132

Regards!

[2018-09-15 16:16] #128 closed

[2018-09-15 16:41] sdras commented on #134
Oh good call! Thanks for reporting this, I'll try to fix soon.

[2018-09-15 16:43] sdras commented on #124
Hi, I used to have more italics but after a ton of feedback, reduced the incidence of it. I'm not using purple in this way but I might think about making the keys another color. Thanks.

[2018-09-15 18:01] sdras commented on #133
Hi @betrocker-
Do your preferences look like this?
[code]
Also there is an italics and no-italics version, can you please make sure you activated the right one? Thanks!

[2018-09-15 18:05] sdras commented on #136
Thanks! Yeah I think this problem started in a recent release, I'll try to track it down and get back to you.

[2018-09-17 20:46] ryzokuken commented on #135
@joshmedeski VSCodeVim allows you to set the foreground color of the status bar for each mode.

[2018-09-17 20:50] ryzokuken opened #138 "Improve C++ highlighting"
Thanks for this awesome theme, @sdras! I absolutely love it while writing JavaScript. That said, while writing C++, the theme makes everything... blue (no puns intended).

Screenshot:

<img width="1440" alt="screen shot 2018-09-18 at 2 17 07 am" src="https://user-images.githubusercontent.com/13121330/45649579-5a4de200-bae9-11e8-913d-43ab686ec79c.png">

It'd be absolutely delightful if you could ta

[2018-09-18 03:54] palashmon commented on #138
Hi, thanks for reporting this. Could you please create a PR and add a sample C++ file inside the `demo` folder which might be used by other c++ devs as a starting point to fix this issue.

Regards!

[2018-09-18 04:35] ryzokuken commented on #138
@palashmon sure! Should I just use an actual, working C++ file or do I just hack up a quick sample that uses as many language features in the smallest number of lines?

[2018-09-18 04:50] palashmon commented on #138
A quick sample that uses as many language features would be great.

[2018-09-18 08:37] svipben opened #139 "Some colors are inconsistent between default and italic version"
I checked the difference between default and italic version and found that some colors are wrong. This is only wrong in `italic` version.

`list.focusBackground`: `#5f7e9700` should be `#010d18`
`activityBarBadge.background`: `#5f7e97` should be `#44596b`
`editorRuler.foreground`: `#5e82ceb4` should be `#5e81ce52`

It even contains bug because of wrong colors like this:

<img width="601" alt="nigh

[2018-09-18 15:01] joshmedeski commented on #135
Thanks @ryzokuken, I had to use the array syntax on the [vim-airline settings](https://github.com/VSCodeVim/Vim#vim-airline)

[2018-09-18 15:01] #135 closed

[2018-09-18 20:36] betrocker commented on #133
Here's my settings

![screen shot 2018-09-18 at 22 34 13](https://user-images.githubusercontent.com/16548557/45714901-3646db00-bb93-11e8-8db5-c588ba99e101.png)

[2018-09-20 10:12] svipben opened #140 "Warn widget color"
![image](https://user-images.githubusercontent.com/10441177/45811791-bb86d880-bcd6-11e8-87ad-0ef231109c8c.png)

As you can see it's hard to see white text in such light warn widget, maybe make it darker?

[2018-09-20 10:38] palashmon commented on #140
Hi, thanks for reporting this. We will look into this issue soon. For now, you can try to update your user settings like:

[code]

That should fix it for now. Try it out once and let me know your response.

Regards!

[2018-09-20 10:40] svipben commented on #140
![image](https://user-images.githubusercontent.com/10441177/45813251-c5aad600-bcda-11e8-95f4-599cae3a8338.png)

Way better!

[2018-09-23 15:32] svipben opened #141 "Markdown coloring"
There's no coloring for `this string`.

![image](https://user-images.githubusercontent.com/10441177/45929771-f307b600-bf5e-11e8-8b99-89d0c36119c2.png)

[2018-09-24 16:35] palashmon commented on #141
You mean in the *.md file type the string inside `` should have some colouring like:

![code2](https://user-images.githubusercontent.com/14850464/45965329-ced2d480-c045-11e8-95bb-9c7b87d444a9.png)

[2018-09-25 07:42] svipben commented on #141
@palashmon Yes!

[2018-09-26 19:58] yelfathi opened #143 "Python function definition italic and color"
The def keyword should be in italic and with a different color (like the other keywords for/if) than the function name.
Please see below between Night Owl and default Dark+ theme.
![capture](https://user-images.githubusercontent.com/9952320/46105695-fdcc8000-c1d6-11e8-9d2a-6f3fe0a541d9.PNG)

![capture 2](https://user-images.githubusercontent.com/9952320/46105700-002eda00-c1d7-11e8-9bd8-0bacbbe4f84

[2018-10-03 17:35] tallpants opened #146 "Menus have no keyboard selection indicators - but only on no-italics theme (+ possible fix?)"
This happens on every menu that isn't the main Cmd + Shift + P menu.

An example is the recents menu (^ + R / Ctrl + R on macOS. Not sure about the equivalent shortcut on Windows).

Try pressing up / down on the keyboard to move around the menu -- the selection indicators are missing. Mousing over them makes the text bold which is a good indicator, but only selecting them with the keyboard does no

[2018-10-05 07:29] svipben commented on #146
Duplicate of https://github.com/sdras/night-owl-vscode-theme/issues/139

[2018-10-05 07:44] svipben commented on #143
This behavior is also in JS/TS. We need to use different coloring for `function` keyword. Also, the different keyword for Python `def` as well.

Also, as I can see Python have bad coloring for `from`, `import`, `if`, `for`, `return` keywords, they should be `#c792ea` instead of `#7fdbca`

[2018-10-05 07:45] svipben commented on #140
@palashmon I saw you created a PR for markdown coloring, maybe you want also to create PR for this problem?

[2018-10-05 14:05] palashmon commented on #140
Done :tada:

[2018-10-09 02:10] diarcastro opened #148 "Improve SideBar border color"
Hi, first I need to tell you: this is a great theme for VSCode.
It could be great to update the sidebar border color.
Currently the sidebar border color is the same as editor background:

Current color "sideBar.border": "#011627"
![image](https://user-images.githubusercontent.com/2319600/46642654-f47bd580-cb3d-11e8-9458-76ba7ba7b0dc.png)

I think a good color it could be "sideBar.border": "#1f385c

[2018-10-09 05:29] #141 closed

[2018-10-09 05:32] sdras commented on #133
That's strange- everything looks correct to me. Can you please try reloading VS Code and the theme?

[2018-10-09 05:32] sdras commented on #119
Closing this out due to inactivity. Please feel free to reopen if you have more info. Thanks.

[2018-10-09 05:32] #119 closed

[2018-10-09 05:42] sdras commented on #138
Hi @ryzokuken! Thanks for pointing this out. I agree that's too much blue. I would be happy with a PR for C++ file so that I can work on it.

[2018-10-09 05:47] svipben commented on #98
Also, there are new colors from 1.25 version till 1.28 version. I will check them and I will write here full list what need to be removed, fixed or added.

[2018-10-09 05:48] svipben commented on #134
@xiaoyu-tamu seems like duplicate of https://github.com/sdras/night-owl-vscode-theme/issues/139?

[2018-10-09 05:49] svipben commented on #131
@sdras This can be closed since it was fixed in #130.

[2018-10-09 06:01] sdras commented on #143
Good point, I'll work on this next. thanks!

[2018-10-09 06:03] sdras commented on #146
Yes, this should be fixed with that PR :) I'll close it out in the meantime but feel free to reopen if after that PR is in, it's still not right. Thanks for reporting!

[2018-10-09 06:03] #146 closed

[2018-10-09 13:52] ryzokuken commented on #138
Hi @sdras! Sorry I couldn't find the time to push a sample C++ file, would try to do that by today. Thanks for agreeing to work on this.

[2018-10-09 17:10] svipben commented on #139
@sdras PR is already opened: https://github.com/sdras/night-owl-vscode-theme/pull/149

[2018-10-09 18:38] #139 closed

[2018-10-11 08:37] mickaelchanrion opened #150 "Html attributes in pug"
Thanks for this theme, it looks good!

But I found a bug:

In a `.vue` file using pug, only the first attribute (with a `:`) is on italic style

<img width="487" alt="screen shot 2018-10-11 at 09 24 05" src="https://user-images.githubusercontent.com/8982274/46791038-29537c80-cd38-11e8-96e9-cb82e1fe3b20.png">

If I add 2 spaces between attributes, it's ok:
<img width="703" alt="screen shot 2018-10-

[2018-10-15 01:53] xiaoyu-tamu commented on #134
@svipben yeah. closing it.

[2018-10-15 01:53] #134 closed

[2018-10-15 10:54] mittalyashu opened #151 "Highlighting code block in markdown"
**Screenshots**

![image](https://user-images.githubusercontent.com/29014463/46946824-9cd9ee80-d096-11e8-8fb6-324f1227d1f2.png)

There should be separate color for highlighting the code block.

[2018-10-16 10:05] svipben commented on #151
It was already merged (fixed), but not yet released. https://github.com/sdras/night-owl-vscode-theme/pull/142

@sdras Maybe you want to release new Night Owl updates which contain several important fixes?

[2018-10-21 12:54] mittalyashu commented on #151
Okay

[2018-10-21 12:59] mittalyashu opened #152 "Border/Color on notification"
**Screenshots**

![code - insiders_2018-10-20_19-56-33](https://user-images.githubusercontent.com/29014463/47267232-c2676c00-d55e-11e8-9316-9a5a612b34b9.png)

There is no borders on each notifications which makes it hard understand the notification area _(size)_, until we hover on each of them.

**Solutions**

* Use different background color on each of them.

[2018-10-21 15:41] jacksonStone commented on #136
Was able to add this to vscode user config to seemingly fix the issue:

[code]

[2018-10-22 19:29] EddyVinck commented on #136
adding `"fontStyle": ""` to the `settings` object removed the italic font too!

![image](https://user-images.githubusercontent.com/23434753/47314235-6590b200-d641-11e8-94fb-4b49658b06e4.png)

[2018-10-22 21:31] kentor opened #153 "No Italics Theme: Italics showing up in diffs"
**Please make sure you're using the latest version of the plugin before submitting an issue**

**Screenshots**
There are still italics in the no italics theme, see: https://github.com/sdras/night-owl-vscode-theme/blob/master/themes/Night%20Owl-color-theme-noitalic.json#L220

They should be removed?

![image](https://user-images.githubusercontent.com/240493/47320715-17f75380-d607-11e8-8c39-8ec58c81

[2018-10-23 17:31] lightify97 commented on #152
Well using different background on each notification seems an overkill. However a different background and a border would suffice.

[2018-10-24 18:55] EddyVinck commented on #102
Have you found a fix for this yet @bsvipas ?

[2018-10-24 23:06] sdras commented on #153
Fixed with your PR, closing.

[2018-10-24 23:06] #153 closed

[2018-10-25 05:03] svipben commented on #102
@EddyVinck If you use the latest Night Owl it will look like this:

![image](https://user-images.githubusercontent.com/10441177/47477075-1a86c280-d82c-11e8-8e74-002d7df38567.png)

`const` is colored ant italic because it's constant, I guess @sdras done it intentionally.

Also, if you want to disable italic completely just use Night Owl No Italic version of theme.

[2018-10-26 18:22] lucastephan opened #157 "Post the font!!!"
I'm not sure if this is the right place to ask for this, but please can you tell what font are you using on the screenshots?

[2018-10-26 18:54] sdras commented on #157
I say in the readme, it's Dank Mono.

[2018-10-26 18:54] #157 closed

[2018-10-29 16:34] jcoleman-techempower commented on #136
@jacksonStone @EddyVinck I would prefer not to modify my settings and wait for the author to fix this issue. But I'm glad y'all got it working for yourselves

[2018-10-31 11:42] svipas opened #159 "Markdown punctuation color"
<img width="666" alt="screenshot at oct 31 12-34-15" src="https://user-images.githubusercontent.com/10441177/47785840-95f7e080-dd12-11e8-9979-ae1607f80d5d.png">

As you can see markdown punctuation near `x` char is blue `#82b1ff` which is wrong cuz' it should be white `#d6deeb`

[2018-11-17 08:59] ritabradley commented on #133
I'm also experiencing this issue, but I'd like to note it's not limited to your theme for me. However, when I change my font back to Fira Code to see if I can reproduce the issue, my ligatures work for that font. I've reloaded VSCode and the theme and the issue persists.

![screen shot 2018-11-17 at 12 52 13 am](https://user-images.githubusercontent.com/41173740/48659313-e2763800-ea03-11e8-9b91-31

[2018-11-17 09:06] ritabradley commented on #133
I was having the same problem, but I reinstalled the font, and the ligatures worked.

[2018-11-21 08:40] betrocker commented on #133
It's still the same.

![screen shot 2018-11-21 at 09 39 27](https://user-images.githubusercontent.com/16548557/48829002-7718c700-ed71-11e8-9b36-ca83d8ba399b.png)

[2018-11-21 16:09] sdras commented on #133
I'm seeing the ligature in the arrow, sorry, what behavior are you expecting?

[2018-11-21 22:01] betrocker commented on #133
Like I said in my initial post - some of the ligatures are not working (like IMPORT, FROM, EXTENDS)

[2018-11-21 22:12] sdras commented on #133
Those aren't ligatures, those are italics :) - I got negative feedback on the amount of italics so was convinced to use them more sparingly. Your screenshot is the expected behavior.

[2018-11-21 22:12] #133 closed

[2018-12-17 02:00] #143 closed

[2018-12-19 16:06] escalonc opened #162 "Italics are not working and colors are different"
I really like this theme is awesome.

But recently I installed on Linux Mint 19, the latest version of vscode(1.30.1) and night owl(0.4.2),
then I compare my setup with a screenshot in the readme and I realized that they are not the same.

![image](https://user-images.githubusercontent.com/5721978/50231971-95281600-0375-11e9-9a38-39cdaea559fd.png)

My vscode config is:
[code]

[2018-12-26 18:36] sdras commented on #152
Yeah, I agree with @lightify97 about having a border here. Possibly background but I try to keep from having too much going on unnecessarily. Thanks, I'll look into this!

[2018-12-26 18:37] sdras commented on #150
oh strange! would you mind terribly committing the file to the demo folder? makes it easier for me to debug. if you're too busy, no worries- it will just take me a bit longer to get to it.

Thanks!

[2018-12-26 18:39] sdras commented on #151
This should be fixed now, please feel free to reopen if I'm mistaken.

[2018-12-26 18:39] #151 closed

[2018-12-26 18:39] sdras commented on #131
Thanks!

[2018-12-26 18:39] #131 closed

[2019-01-02 17:23] mickaelchanrion commented on #150
NP, I'll do it ;)

[2019-01-06 23:44] SigmundurMorkore commented on #162
I have the same issue:
![code](https://user-images.githubusercontent.com/39065262/50743215-03415980-120d-11e9-8a74-a5568f1e9136.png)

[2019-01-06 23:52] escalonc commented on #162
@SigmundurMorkore after research in my current setup, I found that an extension was creating a conflict the theme, I couldn't remember which extension was, try to disable all your extension and just leave the theme.

[2019-01-06 23:55] SigmundurMorkore commented on #162
Ooh, that actually worked!
Now to manually enable extensions and check which one if breaking it :P

[2019-01-07 00:08] SigmundurMorkore commented on #162
There is however one inconsistency that I can see, between my JavaScript class color and the ones in the images. Mine is blue like the functions, but that should be easy to fix with a custom styling.

It also seems like the offending extensions were Babel JavaScript by Michael McDermott and Babel ES6/ES7 by dzannotti

[2019-01-08 21:16] ShawonAshraf commented on #162
I found these two extensions to be in conflict with the theme. (There can be more, I had these two installed and were causing trouble rendering italics.)

- [Babel JavaScript](https://marketplace.visualstudio.com/items?itemName=mgmcdermott.vscode-language-babel)
- [Babel ES6/ES7](https://marketplace.visualstudio.com/items?itemName=dzannotti.vscode-babel-coloring)

[2019-01-12 05:14] #162 closed

[2019-01-19 00:27] tconroy opened #165 "Poor contrast for highlighted items in search"
Hey @sdras! Love the theme, thanks for sharing it with all of us!

I've been using it for a couple weeks and I've noticed that the selected item in search results is very difficult to read. This is also true for selecting rows in the "problems" pane (ie TypeScript errors). See below screenshot.

Any way to increase the contrast on these selected items so they become more readable?

**Screenshots**

[2019-01-20 07:10] RamirezAlex opened #166 "The const JavaScript keyword has the same color as the constant itself."
The `const` keyword has the same color as the constant itself in JavaScript.

Expected to use different color for better contrast.

![image](https://user-images.githubusercontent.com/1482473/51436266-f898b280-1c57-11e9-9a3b-2908997111ab.png)

![image](https://user-images.githubusercontent.com/1482473/51437281-238c0200-1c6a-11e9-895b-1f18908275b5.png)

![image](https://user-images.githubusercontent

[2019-01-20 18:07] sdras commented on #166
UGH YES this one is driving freaking batty. I'm going to close your PR because I want to make the const purple and ital as a keyword and remove the ital from the variable. But open to another PR, otherwise I'll do it myself when this project is done. This will have to get fixed because it's driving me crazy.

[2019-01-20 19:57] RamirezAlex commented on #166
@sdras that sounds good, I can create a new PR. Any specific purple that you want?

[2019-01-24 20:08] clarkio opened #168 "Difficulty Seeing Divider Between Open Files or File and Explorer/Side Bar"
It's hard to tell where the divider is when two files are open and the user is looking to resize the view between files. Currently the only way to tell is to hover your mouse where you think it may be and move around until the cursor changes.

![gif](https://user-images.githubusercontent.com/6265396/51705447-a655e980-1fe9-11e9-96e0-d92aafd7fd9f.GIF)

This is also noticeable between one file open a

[2019-01-27 06:36] clarkio commented on #168
I'm a knucklehead for not fully reading the readme/documentation which led to me missing this section: https://github.com/sdras/night-owl-vscode-theme#separate-the-editor-from-the-sidebar

My bad.

[2019-01-27 06:36] #168 closed

[2019-02-06 17:09] tuucan opened #170 "[help] is there way to get rid of the second scope line when using bracket pair colorizer?👀"
It's kinda too opaque to ignore. 🤔

![image](https://user-images.githubusercontent.com/7063252/52359367-d4581680-2a4a-11e9-8da8-576e0893a4ab.png)

[2019-02-07 14:13] travisboss commented on #170
If I understand you correctly in the render line showing a slightly lighter color you want to go away, this would be a question for the developer of bracket pair colorizer, not the theme creator of night owl.

https://github.com/CoenraadS/Bracket-Pair-Colorizer-2
He has a beta of a new colorizer coming out, recommend asking for this feature on his new build.

[2019-02-07 16:18] tuucan commented on #170
I dont think that's the case, here's when bracket pair colorizer disabled

![image](https://user-images.githubusercontent.com/7063252/52425445-13e73700-2b0d-11e9-87f7-da0099b0269c.png)

[2019-02-15 16:57] wsslstckfsch commented on #170
Have you tried "editor.highlightActiveIndentGuide": false ?

[2019-02-23 04:34] clouby opened #171 "Include color scheme for Slack"
This is an initial proposal about slack color sheme. [night-owl-slack](https://github.com/clouby/night-owl-slack)

![preview](https://user-images.githubusercontent.com/12024749/53281635-d3d1a800-36f9-11e9-9c2b-490bf3cffee0.png)

`Let me know, what do you think!🦉`

[2019-02-23 04:45] #171 closed

[2019-03-07 19:49] duhok1 commented on #70
Is there a rough ETA on when the ANSI codes will be available?

[2019-03-13 15:32] MatrixV01 opened #174 "The function JavaScript keyword has the same color as the function name."
Hi @sdras! Thank you for my new favorite theme. Along the lines of the const issue https://github.com/sdras/night-owl-vscode-theme/issues/166 could we have a contrasting color to differentiate between the function keyword and the function name? I've added screenshots and the TM scopes from your demo js file. If you'd like me to raise a pull request I can do that. Thanks!

[2019-03-13 15:33] MatrixV01 commented on #174
![Screen Shot 2019-03-13 at 10 23 47 AM](https://user-images.githubusercontent.com/13213194/54291976-65a33700-457b-11e9-9d64-1c55fa890c71.png)

[2019-03-13 15:33] MatrixV01 commented on #174
![Screen Shot 2019-03-13 at 10 24 09 AM](https://user-images.githubusercontent.com/13213194/54292002-72278f80-457b-11e9-9fea-6a1a5bac1f52.png)
![Screen Shot 2019-03-13 at 10 24 29 AM](https://user-images.githubusercontent.com/13213194/54292003-72278f80-457b-11e9-80ec-5c07c0f12a2a.png)

[2019-03-17 01:05] ishakimanuel opened #175 "The syntax color and highlighting for react file is not the same as documented"

[2019-03-17 01:06] ishakimanuel commented on #175
<img width="1408" alt="Screen Shot 2019-03-17 at 08 03 44" src="https://user-images.githubusercontent.com/24494425/54483754-8de8a980-488b-11e9-8700-08ca31a80efa.png">

[2019-03-28 08:44] anoobbava opened #176 "On clicking the "Set Color theme" shows "Cannot read property 'id' of undefined" as error"
Hi Team,
I have tried with mac os Sierra,
when I tried with installing and click on **"Set Color theme"** shows the **"Cannot read property 'id' of undefined"**

![Screen Shot 2019-03-28 at 2 10 16 PM](https://user-images.githubusercontent.com/13102185/55142966-c9c12000-5163-11e9-9438-d015242a6c7f.png)

[2019-04-04 12:13] nnnkit opened #177 "Separate the Editor from the Sidebar changes the properties for other themes also"
It would be better if it can just update the "Night Owl" theme only.

**Screenshots**
<img width="1440" alt="Screenshot 2019-04-04 at 17 41 13" src="https://user-images.githubusercontent.com/3122626/55554621-e24fae00-5700-11e9-891d-f4b63dd70fc6.png">

** Solution **

[code]

Thanks!

[2019-04-05 22:47] sdras commented on #177
Thanks for your PR!

[2019-04-05 22:47] #177 closed

[2019-04-05 22:49] sdras commented on #176
Hm, strange. Have you tried `shift + ctrl P` and then `Preferences: Color Theme`, and finding the theme in there?

[2019-04-05 22:50] sdras commented on #175
Yeah, people wanted some changes since I released- mainly having a different color for components than html tags. I haven't updated the github screenshot yet. Will do soon.

[2019-04-05 22:51] sdras commented on #175
Hmmm, that purple for the import should be different though. Let me take a look and get back to you.

[2019-04-05 22:52] sdras commented on #174
Yep! Good call, I'll work on that.

[2019-04-05 23:55] sdras commented on #175
This looks _very_ different from what I'm seeing. Can you please

1. Let me know what version you're on
2. PR the demo folder with this file

I'm not able to reproduce. Thanks!

[2019-04-06 00:39] sdras commented on #170
This above suggestion should work ^
It's not something I can change in the theme (or if possible, can't find it- feel free to reopen if I'm mistaken)

[2019-04-06 00:39] #170 closed

[2019-04-06 01:03] sdras commented on #98
fixed!

[2019-04-06 01:03] #98 closed

[2019-04-06 02:11] sdras commented on #150
closing this out because I can't duplicate and don't have the demo file, but if you feel like PRing the demo file, we can reopen :)

[2019-04-06 02:11] #150 closed

[2019-04-06 02:57] sdras commented on #124
Fixed! I had to do it a different way due to the other things that were affected, but there's better contrast now :)

[2019-04-06 02:57] #124 closed

[2019-04-06 02:59] sdras commented on #174
Function keyword is now different from the function name :)

[2019-04-06 02:59] #174 closed

[2019-04-06 02:59] sdras commented on #152
Added a background and a border. Thanks! Please upgrade and restart!

[2019-04-06 02:59] #152 closed

[2019-04-06 03:00] sdras commented on #159
Fixed in 0.5.0! May need a restart to see the changes. Thanks!

[2019-04-06 03:00] #159 closed

[2019-04-06 03:01] sdras commented on #126
<img width="731" alt="Screen Shot 2019-04-05 at 8 56 22 PM" src="https://user-images.githubusercontent.com/2281088/55664077-e7d2f400-57e5-11e9-8cc7-ef4fa9db6e88.png">

Fixed! Please upgrade and restart

[2019-04-06 03:01] #126 closed

[2019-04-06 03:03] sdras commented on #166
This is fixed! Yay!

[2019-04-06 03:03] #166 closed

[2019-04-06 03:04] sdras commented on #63
This is fixed! Please let me know if there's anything that needs work. Thanks!

[2019-04-06 03:04] #63 closed

[2019-04-06 03:05] sdras commented on #90
This should be fixed! Please let me know if it still gives you troubles. Thanks.

[2019-04-06 03:05] #90 closed

[2019-04-06 03:15] sdras commented on #136
this is fixed!

[2019-04-06 03:15] #136 closed

[2019-04-06 04:56] ishakimanuel commented on #175
I’m using the latest version of vscode and the js syntax color in my react project looks same like in that screenshot

[2019-04-06 05:42] sdras commented on #175
What version of this theme are you on? It should be 0.5.0 and you may need to restart vscode. If you're still seeing this, please PR the demo folder so I can try to duplicate :)

[2019-04-06 06:56] sdras commented on #176
Whatever this is, I'm pretty sure it's not the theme itself, it's VS Code. Feel free to reopen if I'm mistaken!

[2019-04-06 06:56] #176 closed

[2019-04-06 09:13] duranivan commented on #124
That sounds great, thanks :)

[2019-04-07 18:52] sdras commented on #59
Light Owl theme now introduced! Let me know what you think. :)

[2019-04-07 18:52] #59 closed

[2019-04-07 18:53] sdras commented on #165
Thanks for pointing this out! This should be fixed now :) let me know if you're still having issues. May need a restart.

[2019-04-07 18:53] #165 closed

[2019-04-07 18:53] sdras commented on #138
This should be fixed now! Sorry for the delay. Let me know what you think.

[2019-04-07 18:53] #138 closed

[2019-04-07 18:54] sdras commented on #122
This should be fixed now! One thing- I can't alter the words, only the underline, so that's what's fixed. Thanks :)

[2019-04-07 18:54] #122 closed

[2019-04-07 19:03] frebro commented on #59
You named it Light Owl 🙌😂

[2019-04-07 20:03] sdras commented on #71
Been looking into this- it's actually an intentional distinction I've made in places to to have things stand out against other areas that they're likely to be around, to retain some contrast. You might find this in other themes as well, because in VS Code color themes, particular elements are allowed to be targeted depending on _how_ they are used- a const might look different when it's declared a

[2019-04-07 20:03] #71 closed

[2019-04-08 00:52] WindSoilder opened #181 "In extension panel and search panel, the selected text seems no difference to un-selected text."
It's very exciting to see the light-owl theme comes out :)  For now I love the background very much.   Thanks a lot.

But a little sadly I found issue for the selected-text in the search panel and extension panel.

**Screenshots**
![屏幕快照 2019-04-08 上午8 43 27](https://user-images.githubusercontent.com/22256154/55692498-40b7ad80-59db-11e9-8f90-c038ed400a22.png)

**Description**
I have select text "o

[2019-04-08 02:39] chibicode commented on #59
@sdras it looks great! I added it here: https://medium.com/@chibicode/the-best-visual-studio-code-dark-and-light-themes-july-2018-edition-a9c2cc9548da

[2019-04-08 05:47] ishakimanuel commented on #175
Already solved in night owl version 5.0 😅.  Thank you for helping me fix this issue @sdras.

[2019-04-08 11:59] daern91 opened #182 "Dark theme's starting window too bright in versions > 1.0.0"
Hi,

In the latest update the starting background got it's color changed from dark to light. This makes my eyes cry as the contrast is just too much. It was really great before since it all merged together so nicely...

Could we please revert this? Im using `Night Owl No Italics`. Please see the difference in screenshots below. Another solution might be to simply make the vs code logo this bright

[2019-04-08 14:53] tvandort commented on #182
I created a PR to restore the original background color if that ends up being the intended direction. I can't tell because the last update to the line for that color changed a deprecated color value.

https://github.com/sdras/night-owl-vscode-theme/pull/183

[2019-04-08 15:34] sdras commented on #182
Woah, yeah that's no good. Thanks for the catch!

[2019-04-08 15:34] sdras commented on #182
closing this out because it's merged, might do a few more changes before releasing- but sometime in the next day or so

[2019-04-08 15:34] #182 closed

[2019-04-08 15:35] sdras commented on #175
My pleasure! Thanks

[2019-04-08 15:35] #175 closed

[2019-04-08 15:36] sdras commented on #181
Ah interesting, sorry about that! I'll try to track down what happened.

[2019-04-08 16:04] sdras opened #184 "Make Teal and Purple stand out from each other more"
Reported from Twitter:
https://twitter.com/Bliepjes/status/1115278865490960386

Also, orange needs to be darker/bolder

[2019-04-08 16:30] sdras opened #185 "No-Italics Light Owl theme"
A couple of people have asked now, time to bite the bullet :)

[2019-04-08 17:00] jlmakes commented on #185
I halp! #186

[2019-04-08 17:10] sdras commented on #185
Thank you! Merged! I'll put out a release later today

[2019-04-08 17:10] #185 closed

[2019-04-08 18:05] xg-wang commented on #166
Hi @sdras thanks for working on this issue. Seems the new version fixed the function keyword but const is still having the same color.

[2019-04-08 18:14] xg-wang commented on #166
Ah it's when it's inside a class member function
![image](https://user-images.githubusercontent.com/8369011/55746780-7f576300-59ef-11e9-8378-9cb2e8c2a5dc.png)

[2019-04-08 21:38] sdras opened #187 "Selected text in light theme is weirdly turquoise"
Reported from Sophiebits on twitter.

[2019-04-08 22:01] hello-jason opened #188 "Inactive tab text color illegible in split editor mode"
When split editor mode is enabled, the text color in the active tab inside the inactive pane is unreadable. See screenshot for example.

v1.0.1

![bug-nightowl-inactivepanecolor](https://user-images.githubusercontent.com/1406213/55759766-de34d080-5a1f-11e9-92d9-3061700f0400.png)

[2019-04-08 23:22] SavePointSam commented on #182
Thanks for this, @daern91 and @tvandort! Looking forward to the next release. I'll have to downgrade until then as the light color is super distracting.

[2019-04-08 23:26] chibicode opened #189 "Illegible white text on JSX on the light theme"
**Screenshots**
If applicable, add screenshots to help explain your problem, it helps us debug faster.

If you are submitting a bug report in a language not currently in demo folder, a PR to this folder with the language helps us track it down.

Thanks!

[2019-04-08 23:26] chibicode opened #190 "Illegible white text on JSX on the light theme"
**Screenshots**
If applicable, add screenshots to help explain your problem, it helps us debug faster.

If you are submitting a bug report in a language not currently in demo folder, a PR to this folder with the language helps us track it down.

Thanks!

[2019-04-08 23:26] chibicode opened #191 "Illegible white text on JSX on the light theme"
Hi there, I love the light theme! 👍

On the light theme, if you have this `js` file:

[code]

And then if you start typing `<div` in the child:

[code]

Then the last `</div>` becomes white and completely illegible:

![image](https://user-images.githubusercontent.com/992008/55763328-4d5bf600-5a1b-11e9-9fbb-6f27ef997259.png)

[2019-04-09 00:04] #190 closed

[2019-04-09 00:04] #189 closed

[2019-04-09 00:18] sdras commented on #191
Woah! Thanks for pointing this out, I'll take a look. Thanks!

[2019-04-09 00:19] sdras commented on #188
This... should not be green though... are you sure you don't have another extension overriding mine?

[2019-04-09 00:21] sdras commented on #188
I think this is another extension overriding my theme. I can't duplicate. I'm going to close this out. If you think I'm mistaken, please feel free to reopen :)

[2019-04-09 00:21] #188 closed

[2019-04-09 01:36] jryd opened #192 "Highlighting in the terminal is opaque/solid"
This has only been an issue the last 2 days or so, however when I am highlighting text inside the integrated terminal, the highlighting is opaque/solid so that I cannot see through it.

Before highlighting:
![image](https://user-images.githubusercontent.com/13251203/55767289-96638700-5abb-11e9-9e57-08d1bb6b58cf.png)

After highlighting:
![image](https://user-images.githubusercontent.com/13251203/5

[2019-04-09 01:53] sdras commented on #192
It's a bug alright. I'll get to it soon! Sorry about that.

[2019-04-09 02:01] jryd commented on #192
Thanks @sdras!

[2019-04-09 08:44] daern91 commented on #182
Thanks a lot, @tvandort and @sdras!

No problems, @SavePointSam, @sdras is amazingly fast so the fix seems to be released already with `v1.1.0`.

[2019-04-09 14:16] garcianavalon commented on #176
This error happen to me too after updating VS Code. Closing and opening again did the trick

[2019-04-09 17:54] sdras commented on #191
@redders6600 yes please, separate issues are better

[2019-04-09 18:33] SavePointSam commented on #182
Looks like it! Thanks for the quick turn around, @sdras!! 🚀 🎉

[2019-04-09 18:34] sdras commented on #192
Fixed! Please update

[2019-04-09 18:34] #192 closed

[2019-04-09 18:34] sdras commented on #191
fixed both! please update

[2019-04-09 18:34] #191 closed

[2019-04-09 18:34] sdras commented on #187
fixed!

[2019-04-09 18:34] #187 closed

[2019-04-09 18:34] sdras commented on #184
fixed!

[2019-04-09 18:34] #184 closed

[2019-04-09 22:27] sdras commented on #181
This is fixed! Please upgrade

[2019-04-09 22:27] #181 closed

[2019-04-10 09:26] praveenpuglia opened #194 "Light Theme : CSS units are hard to read"
**Screenshots**
![image](https://user-images.githubusercontent.com/313363/55867761-bfaa1300-5ba0-11e9-8187-310321e9bb87.png)

**Version** : 1.1.2

Thanks for the lovely theme!

[2019-04-10 10:35] philipp-spiess opened #195 "Insufficient contrast for highlighted search matches"
Search results will highlight the matched sections with a different background color but does not change the font color making it hard to read the text.

**Screenshots**

<img width="618" alt="Screen Shot 2019-04-10 at 12 31 17" src="https://user-images.githubusercontent.com/458591/55872303-f0804d00-5b8c-11e9-9ed3-833081aac6a7.png">

[2019-04-10 16:02] shamamaz opened #196 "Plugin not working at all for me"
**Please make sure you're using the latest version of the plugin before submitting an issue**
The plugin does not work for me, I am seeing an error saying `Cannot read property 'id' of undefined` when I try to set the colour theme.

**Screenshots**
![TITLE](https://user-images.githubusercontent.com/11925430/55894575-50282980-5b88-11e9-9dff-e6e79f7cc614.gif)

[2019-04-11 00:38] ronny opened #197 "Override comment colour"
**Describe the solution you'd like**

I'd like to be able to override comment foreground colour by doing something like this in my user settings:

[code]
 or
[code]

**Is your feature request related to a problem? Please describe.**

The above override doesn't work for Night Owl, while it works for other themes. I have tried this with double slash comments and `/* .. */` style comments, for Go spe

[2019-04-11 11:38] sdras commented on #197
Try this and let me know if it worked:

[code]

[2019-04-11 11:41] sdras commented on #196
Sorry that's happening :/ Unfortunately it's not a problem with Night Owl but Code itself. I'm going to close this out, maybe try refiling in the Code repo? Feel free to reopen if I'm mistaken.

(Try restarting Code and see if it persists)

[2019-04-11 11:41] #196 closed

[2019-04-11 11:43] ronny commented on #197
@sdras Thanks for the suggestion. I tried and it didn't work unfortunately. I also tried this which didn't work either:
[code]

[2019-04-11 11:44] sdras commented on #194
Strange, in 1.1.2 I can't reproduce. Can you please restart Code and let me know if it persists? Thanks!

[2019-04-11 11:44] sdras commented on #195
Dang, I changed this for one context and it broke another. Thanks for filing! I'll try to fix it soon.

[2019-04-11 11:46] sdras commented on #197
Try this:

[code]

[2019-04-11 12:15] praveenpuglia commented on #194
My bad. It's a stylus file.

[2019-04-11 19:19] duhok1 commented on #70
@sdras  I pulled the following color codes:

[code]
Not sure if we must include the other colors.

[2019-04-12 01:34] ronny commented on #197
Didn't work either 😞 I think it may be an issue with VSCode itself. Thanks for the suggestions (and for the themes!), @sdras.

[2019-04-12 08:46] sdras commented on #197
Ok! I'll close it out then, sorry it's not working. Let me know if you think there's something to be done.

[2019-04-12 08:46] #197 closed

[2019-04-12 08:55] sdras commented on #194
Ah, ok that helps, thanks!

[2019-04-12 09:01] sdras commented on #194
I'm still seeing in the stylus files that it's fixed now :/ can you please try to restart vs code?

[2019-04-12 09:18] sdras commented on #195
Just worked on this! Please update! (might need to restart code to see the changes) thanks for reporting!

[2019-04-12 09:18] #195 closed

[2019-04-12 09:26] philipp-spiess commented on #195
@sdras Woohoo it works now! Thank you so much for fixing this so quickly 🎉

[2019-04-12 09:30] praveenpuglia commented on #194
I just tried this out and it happens with the no-italics theme. with italics it works just fine. screenshot for both.

## No Italics
![image](https://user-images.githubusercontent.com/313363/56027423-a9808c00-5d33-11e9-9680-d35447b004cb.png)

## Italics
![image](https://user-images.githubusercontent.com/313363/56027449-b4d3b780-5d33-11e9-9517-1d536b54bc68.png)

[2019-04-12 14:41] AbdulRayhman opened #198 "Git Sidebar should be more visible from code pane."
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Is your feature request related to a problem? Please describe.**
If so, a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[2019-04-14 19:52] sdras commented on #198
There are details on how to do so in the readme

[2019-04-14 19:52] #198 closed

[2019-04-15 07:53] j13l commented on #176
Same error here, started happening since last week. Restarted VSCode, Macbook & even my fridge, still same. :(

[2019-04-16 14:50] hollandThomas opened #199 "'instanceOf' color"
Hey, I just noticed that the `instanceof` operator is of the same color as its operands. For example:

![instanceof](https://user-images.githubusercontent.com/20690465/56219327-d7810b80-6066-11e9-9447-742182229090.PNG)

Wouldn't it be better if `instanceof` was treated the same as e.g. `===` and therefore making it distinguishable from its operands? Or am I missing something?

![equals](https://us

[2019-04-18 13:52] MatthewBurstein opened #200 "Object colour changes depending on the syntax used to access a property"
The colour of an object when accessing a property using `object.property` syntax is different from that when using `object["property"]` syntax. Is this intentional? It feels counter-intuitive to me.

![image](https://user-images.githubusercontent.com/28791798/56365653-46866d80-61e9-11e9-8a6b-324c40fcfb32.png)

(Also thanks for this theme I really like it 🙂)

[2019-04-24 15:32] ShmouG commented on #176
I'm getting the same error. And the theme got deactivated and I am unable to use it. Any luck getting it patched?

[2019-04-24 15:39] sdras commented on #176
Hey all, I'm sorry but I really don't think this is an error with the theme but rather VS Code. Could you please file an issue in their repo?

[2019-04-24 15:39] ShmouG commented on #176
I got it to work by uninstalling it, then re-installing the theme.

[2019-04-24 17:54] sdras opened #202 "Too much italic"
Every time I work in a Vuex file, this annoys me. I need to reduce some of the italic in this theme, it's too heavy.

[2019-04-24 17:55] sdras commented on #199
Good idea, I can try to see if it will let me target it 👍

[2019-04-24 17:57] sdras commented on #200
Hey! Yeah that's because "someProperty" is a string and all strings are dealt with the same way. I can try to target the dot notation object properties but iirc, this was updated last time because of some other conflict, so I'll do my best and report back. Thanks for filing!

[2019-04-24 18:47] MatthewBurstein commented on #200
Oh whoops sorry I meant that it is counter intuitive that `obj` is a different colour.

The string being a different colour makes perfect sense.

Thanks for replying :).

[2019-04-25 07:56] AbdulRayhman opened #203 "Update ReadME.md doc for vscode"
**Update ReadME.md for VScode users**

I try to separate the editor sidebar by reading the ReadME.md in which I notice when I copy paste the given object in readME.md in the vscode settings the Night Owl with italic color changes apply but when I change my theme to no italic the colors are not applied there. So I changed the "[Night Owl No Italics]" --> "[Night Owl (No Italics)]" the given theme n

[2019-04-26 23:10] DNonov commented on #199
I think you can mach it with "keyword.operator.expression.instanceof.js.jsx".  :)

[2019-04-27 17:19] nnnkit commented on #203
Thank You @AbdulRayhman

[2019-04-27 20:52] sdras commented on #199
Thanks for the PR @nnnkit!

[2019-04-27 20:52] #199 closed

[2019-04-27 20:53] sdras commented on #200
Oh got it! Sure I'll try to work on that. Thanks!

[2019-05-02 16:13] Kurtz1993 opened #205 "Wrong colour for string templates"
I believe that string templates should have the same colour that is used for double-quoted and single-quoted strings 😃

**Screenshots**
![image](https://user-images.githubusercontent.com/5412470/57089944-426b4d00-6ccb-11e9-9412-e7cc1c109434.png)

[2019-05-06 05:40] souljessi commented on #194
hi,girl.

[2019-05-08 00:36] sdras commented on #205
Keeping them distinct is intentional. Thanks though.

[2019-05-08 00:36] #205 closed

[2019-05-08 00:37] sdras commented on #203
Fixed :)

[2019-05-08 00:37] #203 closed

[2019-05-13 18:11] friend7 opened #206 "Object color error?"
It seems there is an error with synthax coloring of simple object in JS, as in picture.

Delete if I am wrong.

Beside, using your great theme a lot :).

![IMG_20190513_174318](https://user-images.githubusercontent.com/20904489/57643781-d934e500-75ba-11e9-9c41-c739aca99229.jpg)

[2019-05-17 20:23] Kurtz1993 commented on #205
Thanks for the response!

[2019-05-21 12:21] MarkZaki opened #207 "Add Contrast to the ActivityBar and The Panel"
Make the Activity bar and panel more darker than editor

[2019-05-22 12:15] tinvaan opened #208 "Bold fonts support"
This is probably down to personal choice, but I'd really love a "bold" theme option.

I'm happy to attempt a PR for the same, but I want to know if this has this ever been a point of consideration ? If so, what was the resolution ?

[2019-05-25 14:51] sdras commented on #208
It hasn't really been a consideration, but for more personal preference styles like this I highly recommend changing your own workplace settings. There's a section in the readme that shows how to do this :) thanks

[2019-05-25 14:51] #208 closed

[2019-05-25 14:51] sdras commented on #207
This is covered at length in the README

[2019-05-25 14:51] #207 closed

[2019-05-26 10:46] tinvaan commented on #208
Thanks for the update @sdras. I'm sorry if I wasn't clear with my choice of words.

I know `"editor.fontWeight": "bold"` will enable bold fonts on my IDE, but I'm more interested in a bold theme altogether, like the italics variant that is currently on offer.

I'm already using a very hacky version of a bold theme that I scribbled up. Here's a screenshot below
![image](https://user-images.githubus

[2019-06-03 08:20] littlee opened #209 "Adjust search highlight color ?"
<img width="237" alt="WX20190603-094734@2x" src="https://user-images.githubusercontent.com/7534668/58786972-592ef780-861b-11e9-88f7-dfea4028e43e.png">

I find that when searching some text which are colored red, it don't fit well with the highlight background color, can I adjust that ?

[2019-06-17 15:58] franncode commented on #133
For future users who are looking for a solution to this problem, they need to add the following to their settings.json in Visual Studio Code:

	"editor.tokenColorCustomizations": {
		"textMateRules": [
			{
				"scope": [
					//following will be in italic (=FlottFlott)
					"comment",
					"entity.name.type.class", //class names
					"keyword", //import, export, return…
					"constant", //String,

[2019-06-20 13:57] cdeutsch opened #211 "Request: Light theme tweaks"
I love the Dark mode of Night Owl and it's my primary theme!

In certain lighting conditions I've been looking for a Light theme, and `Night Owl Light (No Italics)` is pretty close.

Here are some things I've been tweaking for what it's worth.

I can do a PR for some of this if you're interested.

#### - Active tab is hard to distinguish
![image](https://user-images.githubusercontent.com/404765/59

[2019-06-22 10:46] tinvaan commented on #208
*poke* --> @sdras :question:

[2019-06-22 13:33] sdras commented on #208
I understood you :) Please reread what I wrote. I don't want to make and maintain a bold theme. I wasn't referring to turning on bold, I was talking about adjusting workplace settings that allow you to make small modifications, as shown in the README. Thanks

[2019-06-24 12:52] ChristophLabacher opened #212 ""Separate the Sidebar"-Snippet does not work for "No Italics" version"
Thanks for creating this great theme!

The snippet to "Separate the Editor from the Sidebar" that can be found in the Readme didn’t work for me when using the "No Italics" version of the theme. It can be fixed by adding brackets around "No Italics" in the snippet:

[code]

[2019-06-27 22:47] walisom360 commented on #176
install dracula theme -> file -> Preferences -> Color Theme-> you select theme  preference

[2019-06-30 18:50] tinvaan commented on #208
Got it! For the benefit of anyone who maybe wondering what @sdras is referring to, add the relevant customization to the editor's `settings.json` file. Here's an example of a customization that can be used to override theme specific rules : https://github.com/Microsoft/vscode/issues/13092#issuecomment-346064315

As for bold fonts, it's probably a bit more elaborate to achieve the same via `setting

[2019-07-01 08:33] verndals opened #214 "Port to VS2019?"
Love the color theme! Any chance of a port to VS2019?

[2019-07-02 02:28] black-black-cat opened #215 "Suggestion: Add `menu.border` color"
Thanks so much for this theme @sdras!

The menu border is not distinguished from the background color. Can you add `menu.border` color?

![owl](https://user-images.githubusercontent.com/15521864/60478112-1ad93680-9cb4-11e9-8af7-15b66f513ef6.png)

![12345](https://user-images.githubusercontent.com/15521864/60478122-20cf1780-9cb4-11e9-8e33-125603b8829a.png)

[2019-07-03 11:04] chiangs opened #217 "CSS Custom Props (css variables) syntax highlighting"
I would like to request a little more distinction in the syntax highlighting for css variables.
![code](https://user-images.githubusercontent.com/10984593/60586749-028c1900-9d93-11e9-97b4-d9e9668c53ad.png)

[2019-07-04 20:28] jlmakes opened #218 "Invalid / Deprecated scope not visible on `Night Owl Light`"
TIL: The `align` attribute, which I commonly use in GitHub README's, is deprecated HTML.

It looks like the invalid/deprecated scope is `#ffffff`, which shows up fine on `Night Owl`:

<img width="581" alt="Screen Shot 2019-07-04 at 1 26 16 PM" src="https://user-images.githubusercontent.com/2044842/60686721-57956100-9e5f-11e9-9d87-68204a1876fd.png">

But on `Night Owl Light` it’s invisible, teehee!

[2019-07-06 03:51] erike1 commented on #176
I had the same error with Atom Dark Theme after installing the jshint extension of Dirk Baeumer.

The solution is as described above by @sdras  or disabling the jshint extension

[2019-07-10 01:08] ronny commented on #197
I finally got this to work:

[code]

[2019-07-15 15:53] icharge commented on #176
![image](https://user-images.githubusercontent.com/1619007/61229968-54e61600-a753-11e9-9ee2-c00d997e032e.png)

Help!

[2019-07-16 09:25] adioanca-rpma opened #220 "Green Horizontal Lines in Diff Tab"
Version 1.1.3
Language: Javascript
Zoom level: doesn't matter.

Reproducible only with this theme.

Screenshot:

![night-owl-bug](https://user-images.githubusercontent.com/44780241/61282720-83500980-a7c4-11e9-82c4-bf47ffb289f5.png)

Great theme! Thank you!

[2019-07-18 03:02] tigerzoren commented on #176
Thanks, it worked!

[2019-08-15 09:34] shytikov opened #221 "In VSCode cursor is hidden by vertical "collapsing" lines"
That issue become major turn over for me, it's really annoying, and I wonder why no one had discovered it yet.

Please take a look on the gif I have recorded:

![cursor-issue](https://user-images.githubusercontent.com/1185905/63086339-f5e11000-bf4f-11e9-8636-b760fda373c3.gif)

Yes, you can tell that cursor is still flashing (if your eyes are decently sharp), and there is a subtle difference in row

[2019-08-20 12:11] Arnau-Ninerola opened #223 "Text not showing correctly on Tests (Command Palete)"
I have some unit tests on my python project. Whenever I run the tests on vs code and then I want to see the output, the text is squeezed together on the command palette. If I switch to another theme it works properly.
This bug also happens when I configure my tests to choose what test framework I want to work with.

I included attached screenshots to better understand the problem.
![Annotation 201

[2019-08-20 12:16] Arnau-Ninerola commented on #221
I know this is not a solution but you can set the cursor of VS Code to be a block. Then it's much easier to fin where it is and you don't have this problem.
It looks like this:
![Annotation 2019-08-20 141419](https://user-images.githubusercontent.com/25803277/63346241-d6cdee00-c354-11e9-8f29-9f1c4b645135.png)

If you go to File -> Preferences -> Settings and look for "_Cursor"_ under "_Text Editor

[2019-08-22 01:44] edurojasr opened #224 "Have been ported to Windows Terminal Color Schemes"
Just to let you know that Night and Light Owl's have been ported to Windows Terminal Color Schemes

- Windows Terminal: [https://github.com/edurojasr/Windows_Terminal_Theme_Night_Owl](url)

Love your work! <3

So I took the general color schemas of Night and Light Owl themes and ported to Windows Terminal, Have to tweak some color for the Light version since W. Terminal use white for numbers and I

[2019-08-23 09:31] kai-oswald commented on #214
I've been working on a VS2019 Port recently.

https://github.com/kai-oswald/NightOwl-VS-Theme
https://marketplace.visualstudio.com/items?itemName=kaos.nightowl

[2019-08-23 10:21] verndals commented on #214
@kai-oswald Looks great! I'll give it a try and get back to you with some feedback. Thanks for doing this :-)

[2019-08-26 07:10] verndals commented on #214
Is it possible to increase the color hightlight in the navigation? It is pretty difficult to see the item being hovered.

![](https://user-images.githubusercontent.com/1318073/63671962-22631a80-c7e1-11e9-8749-627deef17c12.png)

[2019-08-26 10:37] kai-oswald commented on #214
Hey, thanks for your feedback! I just updated the theme to v0.1.1 with increased command bar/document tab hover contrast.

For future requests I'd suggest you open an issue on the actual repo (https://github.com/kai-oswald/NightOwl-VS-Theme) or even better submit a PR with your changes :)

[2019-08-27 14:44] philippedurocher opened #226 "In Visual Studio 2019 Powershell files color scheme is not readable"
I installed Night Owl yesterday on Visual Studio 2019 Pro edition and really enjoy it! It's a great theme, thank you!

But when working on PS1 files today, I'm having difficulty to read my code due to some dark colors nearly invisibles with the dark background.

![image](https://user-images.githubusercontent.com/1459389/63781165-53ae1a00-c8b7-11e9-8523-e2dcb099f304.png)
![image](https://user-image

[2019-08-27 20:19] wbalbinot opened #227 "Word selection background below highlight background"
Cannot see the selection over _autohighlighted_ words. I'm experience this while editing a .js and .html file.

![giphy](https://user-images.githubusercontent.com/3904040/63804974-c1c20380-c8ee-11e9-8cf1-085d6009e5a3.gif)

It appears that the wordHighlightStrongBackground has some priority over selectionBackground.

[2019-09-02 11:29] Cascoid opened #229 "Dart Support"
Dart is a programming language raising in popularity thanks to Flutter, google's cross platform mobile development solution.

Unfortunately, when using the Night Owl theme, the colours it tries to provide are majority green.

Example:
![image](https://user-images.githubusercontent.com/5270745/64111408-8905ac80-cd7c-11e9-9186-677e1c6aed3e.png)
Here is an example of a theme which supports dart (mate

[2019-09-08 15:49] hmessing commented on #176
Had a theme somehow listed in settings file that was no longer installed....

[2019-09-16 12:09] zhengger commented on #170
It doesn't work.

[2019-09-16 13:55] sdras commented on #226
Someone else made the powershell theme, it's not in this repo or maintained by me. Please refile the issue in their repo. Thanks!

[2019-09-16 13:55] #226 closed

[2019-09-16 13:57] sdras commented on #229
As mentioned in the readme, please PR the demo repo if you would like to request language support. Thanks!

[2019-09-16 13:58] sdras commented on #224
That's awesome! Great thanks! Can you please PR the readme?

[2019-09-16 13:58] #224 closed

[2019-09-16 14:03] sdras commented on #224
Nevermind, just did. Thanks!

[2019-09-16 14:10] sdras commented on #215
iirc that's why I didn't set it. I felt it was too bold and distracting. I'm ok with the menu border as-is, but we could add in the readme how to configure it if it bothers you (like I did with the sidebar, etc). Open to a PR for the README.

[2019-09-16 14:11] sdras commented on #223
Yikes, that's no good. I'll fix it, though I'm low on time so will be at least a month or so. Also open to PRs.

[2019-09-16 14:12] sdras commented on #217
Definitely! This should be more legible. I'm happy to work on this but I'm low on time, so if I do it, it won't be for a couple of months. Open to PRs.

[2019-09-16 14:14] sdras commented on #194
@praveenpuglia it's just a matter of bringing a property from one file to the other but I'm low on time. If you or anyone else would like to PR, I can get it in. Otherwise it will be a little bit. Thanks!

[2019-09-16 15:54] praveenpuglia commented on #194
I'll try looking into it tonight

[2019-09-16 19:49] Arnau-Ninerola commented on #223
No pressure! I will take a look tho I have never modified any theme

[2019-09-24 15:07] krupenja opened #230 "Warning squigglies should be single underline"
**Describe the solution you'd like**
At the moment, warning squigglies use *triple* underline:
![image](https://user-images.githubusercontent.com/26354715/65523387-e1037f00-def4-11e9-92c6-e9f3c451272c.png)

**Is your feature request related to a problem? Please describe.**
I think this hurts readability a bit and all other themes I have seen use single underline, e.g. Light+:

![image](https://use

[2019-09-25 00:51] chiangs commented on #217
I've been searching for a good reference on how to select these in the settings, but I am struggling to figure it out using TextMates' documentation. Can you share the source you referenced in building this theme? Thanks!

[2019-09-30 15:31] nachodd opened #231 "Null coalescing support"
**Describe the solution you'd like**
I'm using the @babel/plugin-proposal-nullish-coalescing-operator plugin for using the null coalescing operator. It appears that is not fully supported, as the colors and styles aren't displayed correctly en it's used.
_Styles OK, using "||"_
![image](https://user-images.githubusercontent.com/4997040/65893199-f6a5f800-e37d-11e9-9530-5ed1d0bb5da7.png)

_Styles WR

[2019-10-02 13:41] chiangs commented on #217
@sdras I've got it working now, here is the regular dark theme, can you comment before i move on to the other themes?

I've opted for the purple color you used and also set it to italic when actually being used and non-italic when just being declared.

Also could you tag this as assigned to me and in progress?

![Screen Shot 2019-10-02 at 15 39 49](https://user-images.githubusercontent.com/1098459

[2019-10-04 11:16] Arnau-Ninerola commented on #217
@chiangs That looks really good, maybe I like the second option more. Are you working on fixing this issue? If not I would't mind taking a look.

[2019-10-04 11:34] chiangs commented on #217
@Arnau-Ninerola Yes I am actively working on it, I just wanted @sdras to have a look first and assign to me. I think I like the second one better as well.

[2019-10-06 20:19] #194 closed

[2019-10-06 20:20] sdras commented on #194
Thanks @tvandort!

[2019-10-07 11:27] chiangs commented on #217
@sdras PR opened

[2019-10-12 06:15] dagolinuxoid commented on #59
@sdras, even though dark themes at firs glance looks cooler I prefer to spend time coding in light ones. Thankfully I've discovered Night Owl Light (no italics) theme at CodeSandbox (yep, they included it in their list of themes). At the time I didn't even know who is the author, but since I know it now I decided to drop the comment as an act of appreciation. Good job =)

[2019-10-15 22:36] Cascoid commented on #229
Don't know how I missed this notification - seems it's already being sorted out in commit #234

Closing!

[2019-10-15 22:36] #229 closed

[2019-10-17 03:14] alexluong opened #237 "Inconsistent "const" color in TypeScript inside class"
Hi,

I recently started working with TypeScript, and I noticed that there is some inconsistency with `const` color when used inside classes.

![Screen Shot 2019-10-16 at 10 12 14 PM](https://user-images.githubusercontent.com/26750127/66974849-22a1c880-f062-11e9-92e9-90f2517b5baa.png)

[2019-10-25 03:15] guiguziwangxu commented on #176
thank you

[2019-11-18 09:11] krismawan4 commented on #176
thanks

[2019-11-20 12:00] trkoch commented on #230
@krupenja Have you found a workaround?

[2019-11-20 12:01] krupenja commented on #230
@trkoch No, I haven't :(

[2019-11-20 12:06] trkoch commented on #230
@krupenja Adding `"editorWarning.border": "#0000"` to `workbench.colorCustomizations` seems to do the trick but it feels like a terrible hack. I couldn't make out how to properly reset a color setting.

[2019-11-22 10:48] krupenja commented on #230
@trkoch that does the trick but feels hacky, yeah. thanks!

[2019-11-24 22:07] hyderumer commented on #176
thanks man

[2019-12-08 17:29] #223 closed

[2019-12-28 22:42] 1chriis1 opened #240 "Show TODO lines in minimap"
Can you show a highlighted line in the minimap for every line that has a TODO comment in it?

The point being to be able to see an overview of where and how many things are left to do, and where in the file.

[2020-01-08 14:03] taylorotwell opened #241 "Remove outline around Activity Bar icons?"
The icons in the activity bar have a border around them:

<img width="130" alt="image" src="https://user-images.githubusercontent.com/463230/71983869-587fc480-31ed-11ea-8b60-3df52ed6f47e.png">

Is there a way to remove / change that? I've tried `contrastBorder` and `focusBorder` but neither seem to affect it.

[2020-01-13 12:33] cjke commented on #237
Hit a similar issue - to further illustrate, compare "payload" and "params" in Nightowl (first screenshot) and the standard vscode dark theme (second screenshot):

![image](https://user-images.githubusercontent.com/884065/72256256-d6fcbc00-365c-11ea-8c19-4c7e2ba8f259.png)

![image](https://user-images.githubusercontent.com/884065/72256250-d401cb80-365c-11ea-950e-5047ebdf32b3.png)

Obviously night

[2020-01-14 21:59] Miloshinjo opened #242 "`this` keyword color"
In many themes, the `this` keyword stands out when typed, but in Night Owl (which is my favorite), the this keyword is the same color as the next 'line of code' (this.constructor.calcAge() --- `this` and `constructor` would be the same color.

Is it possible to make the `this` keyword RED like booleans are red in the theme? I can also try to do it myself if permission granted and idea is accepted.

[2020-01-20 14:28] phiter commented on #215
Hey @sdras I also had this issue with the menu not having a border, I think a very subtle border would look nice.
Look at this:

![image](https://user-images.githubusercontent.com/12252332/72734157-f3768800-3b77-11ea-9caa-9aca5fdb53bf.png)

I'm using

    "workbench.colorCustomizations": {
        "[Night Owl (No Italics)]": {
            "menu.border": "#00000088"
        }
    }

[2020-01-22 12:38] arucode62 opened #243 "Fira Code iScript italic words don't space well."
So i found this beautiful theme which supported Fira Code iScript. I installed it, configured it and started using it, when i released that italic words ( in this case constants ) didn't space like normal words did ( I use tabs and tab_size = 3 ). Here i leave you a SS.

![Screenshot_20200122_133053](https://user-images.githubusercontent.com/48066876/72894673-26f21780-3d1c-11ea-8f35-940634715feb.p

[2020-01-22 13:48] alinnert commented on #202
I think it's not only the amount. Some themes make keywords in general italic, but currently some keywords are missing italics in Night Owl (`function`, `const`, `if`, `switch`, etc.). What do you think?

[2020-02-08 14:23] gregveres opened #245 "highlight colour for object that is selected is the same as highlight colour when cursor is on an object"
This is easy to reproduce.

take any source file and put your cursor on an identifier

let manager = IdManager.mangers[id];

put your cursor somewhere on IdManager. Notice that IdManager becomes highlighted.

Now double click IdManager to make IdManager selected. Notice that it is highlighted with exactly the same colour. This makes it impossible to tell if you have a piece of text highlighted or

[2020-02-12 14:14] diemmarkus opened #246 "Night Owl Light: illegible status bar warning"
first of: I really like this theme, thanks!
I am using v 1.1.3 (which appears to be the latest version).

Today I noticed that warning text in the status bar is hard to read:
![img-2020-02-12 15 01 16-statusbar](https://user-images.githubusercontent.com/4182443/74342220-7373c480-4da9-11ea-8964-02dc8ca75026.png)

[2020-02-18 06:57] zellwk commented on #202
@sdras Happy to help with this. I have a proposition about reducing italics. What's the best way to communicate them with you? Send a PR + demo pictures?

[2020-02-18 10:35] sdras commented on #202
Thanks for writing in! Unfortunately that's not the direction I want to take it. I use the italics to balance contrast for things that are similarly colored and so need another distinction (i.e. the teal and the blue, not the purple). It's not really arbitrary, I spend a long time looking through all the languages to see the impacts. If you want to try again, that's more of what I'm looking for bu

[2020-02-18 11:51] zellwk commented on #202
@sdras I get what you're saying. Happy to help if I knew what you were thinking about. Maybe something closer to this?

<img width="632" alt="CleanShot 2020-02-18 at 19 49 57@2x" src="https://user-images.githubusercontent.com/3607637/74733735-eb4d5d80-5287-11ea-92f8-a67f84862a89.png">

[2020-02-26 07:02] EvertLagerberg commented on #220
@adioanca-rpma I'm having the same problem. Did you find a way around it?

[2020-02-26 09:06] adioanca-rpma commented on #220
Haven't searched. I switched to other themes.

[2020-02-26 09:57] wbeeftink opened #247 "Some values of in terminal are unreadable using the light theme"
First of all I'd like say that I love this theme and thanks so much for creating it for VS Code 💕

**Issue**

I frequently switch between light and dark and noticed that the light version has some issues displaying certain information in the terminal.

**Screenshots**

This is the output of `ng serve` using the light theme. Please note that the values of date, hash & time are poorly readable:

![i

[2020-03-03 18:24] mmahandev commented on #242
Would be an amazing change. How do other themes do this?

[2020-03-10 19:45] MrDrummer commented on #237
It's not that `payload` should be always white- it's that the `const` within classes should be pink as it is outside of a class:

![image](https://user-images.githubusercontent.com/10013572/76352797-8d041f80-6307-11ea-8859-c63aaacb269b.png)

[2020-03-10 22:53] cjke commented on #237
@MrDrummer You're right, but I think both are issues (arguably I could've raised a separate issue)

[2020-03-11 09:59] dominictwlee opened #248 "Odd neon green for variable names"
vscode: v1.4.3
theme: v1.1.3

**Screenshots**
![image](https://user-images.githubusercontent.com/34794189/76404515-82d13800-637e-11ea-9939-a3d60d3047d1.png)
![image](https://user-images.githubusercontent.com/34794189/76404728-dc396700-637e-11ea-9117-0e0fd6bd5b74.png)

I noticed that all variables are now a neon green/yellow. Is this recent change intentional or a bug? Seems a bit jarring since the

[2020-03-11 17:49] burdell commented on #248
Noticed this as well and did some research and looks like it might be related to this: https://github.com/microsoft/vscode/issues/92308. Apparently VS Code introduced a new semantic highlighting system

Turning it off like this comment suggests worked for me until the theme itself can be updated https://github.com/microsoft/vscode/issues/92308#issuecomment-596885893

[2020-03-12 05:57] Joejtx opened #249 "Vim :INSERT status is unreadable due to the color"
The **FIRST** image is when it is not in the **INSERT** mode. The **SECOND** image is when it is during the **INSERT** mode. I love the color theme, and it would be great if the barely readable INSERT status can be changed to black like when typing commands like in the **THIRD** image.

Thanks a lot! Looking forward to see the change :>

![image](https://user-images.githubusercontent.com/25611768/

[2020-03-12 08:48] dominictwlee commented on #248
Cool that works, thanks @burdell !

[2020-03-12 08:48] #248 closed

[2020-03-12 13:11] MiguelMachado-dev opened #250 "Colors are different in my VSCode"
The color theme is different, it was not those colors before

**Screenshots**
![image](https://user-images.githubusercontent.com/29252011/76524856-8ed5fc00-6449-11ea-8c61-82958b37b54d.png)

Here is my settings and extensions
https://gist.github.com/MiguelMachado-dev/f34532c34f5b001c7e10ebe8592b0193

I'm going to link the gist because it is a little extense

[2020-03-12 13:52] aeschli commented on #248
marking as duplicate of #92308

[2020-03-12 18:57] jvbianchi commented on #250
Have you tried to set your settings:

`editor.semanticHighlighting.enabled": false`

[2020-03-12 19:05] jvbianchi commented on #237
Have you tried to set your settings:

`"editor.semanticHighlighting.enabled": false`

[2020-03-12 19:54] MrDrummer commented on #237
I should note that it seems to work fine on my linux laptop at work. I freqently keep my work laptop and personal windows PC's settings in sync using an [extension](https://github.com/shanalikhan/code-settings-sync) that uses a private gist to store the settings, extensions and snippets.

Adding the setting you suggested and reloading code didn't change anything.

[2020-03-12 20:51] MiguelMachado-dev commented on #250
@jvbianchi this actually worked! I have no idea why this changed in a day to another
Thanks

[2020-03-12 20:51] #250 closed

[2020-03-12 20:52] MiguelMachado-dev commented on #250
I never had to set this, doesn't even know this exists

[2020-03-13 09:47] zellwk opened #251 "Green tokens in JavaScript file?"
I noticed the blue tokens changed to green (after startup) today in my JavaScript file. Is this intentional? Is there a bug somewhere? Or does this only happen to me?

![green tokens](https://user-images.githubusercontent.com/3607637/76609554-89180d80-6552-11ea-9c8e-08dda7ea0929.gif)

Just wanted to make sure so I'm asking.

Thanks!

[2020-03-13 13:13] StormriderX commented on #251
This happened to me after vs code update. I am interested in a fix too

[2020-03-13 22:09] sdras commented on #251
This is breaking due to a change in VS Code, as @StormriderX mentioned. I have some stuff going on but will put in a patch soon :)

[2020-03-14 14:02] duerdod commented on #251
This works for now! Thanks!

[2020-03-15 15:44] sdras commented on #251
Seems they made an update to make this less aggressive- can anyone tell me if even without this checked it looks back to normal? It looks back to normal for me. I think eventually they'll require some rewrite though.

[2020-03-16 03:41] zellwk commented on #251
@sdras I'm still seeing thing in the GIF I posted. Are you on Insiders? Maybe the patch hasn't made it to the normal VSCode version? 🤔

[2020-03-21 18:53] Santosh-Gupta opened #252 "Difference between highlight and selection not apparent for editor focus. Is this from the theme or VScode?"
https://snipboard.io/c6yT5M.jpg

the 'cache' at the top is selected, the one at the bottom is highlighted because all instances of 'cache' are highlighted when one is selected.

As you can see, I can't really tell the difference between highlighted and selected. If I click off the editor space, the difference gets a little better, though still could be better

https://snipboard.io/Pe7StD.jpg

At f

[2020-03-22 05:55] Santosh-Gupta commented on #252
So far, I put this in my user setting, which is working decently.

  "workbench.colorCustomizations": {
    "editor.selectionBackground": "#4d057b" //Current selected text
  }

The color is from Amethyst's editor.selectionBackground color.

https://github.com/eamodio/vscode-amethyst-theme/blob/master/themes/amethyst-theme.json#L39

[2020-04-13 21:14] #243 closed

[2020-04-23 10:19] raul-lezameta opened #254 "Night owl light"
Hey,

I noticed that some elements in the light theme have a very bright white color and are barely visible.

An example would be the center the `<center>` tag in html.

Example screenshot with invisible center tag on the left and visible one (because highlighted) on the right:
![image](https://user-images.githubusercontent.com/50103002/80087583-9a920380-855b-11ea-9176-42b545fc0f33.png)

Thank yoo

[2020-04-23 15:10] aeschli opened #255 "Adopt semantic highlighting"
Since 1.43, VSCode themes can take advantage of [semantic highlighting](https://code.visualstudio.com/docs/getstarted/themes#_semantic-highlighting).

Every theme controls whether semantic tokens are enabled. So far, only built-in themes have it enabled and I filed this issue to ask you to opt-in for the Night Owl themes as well.

Adoption is easy and there are new cool styling possibilities.

To

[2020-04-27 19:43] duerdod commented on #237
I have the same issues with classes. I'd love to help debugging this, but I'm not quite sure how.
https://i.imgur.com/IC4InI4.png

[2020-04-28 11:11] ismet commented on #242
Totally agree.. But the boolean RED might be confusing, a different (softer?) color would be great!

[2020-04-28 12:21] manu810 opened #256 "JSX: Wrong highlight colors"
Hello,

I'm pretty sure I'm the one doing something wrong, but I can't manage to have JSX highlighted as on the theme screenshots, especially React component names that are green instead of orange.

Expected:
![nightOwl_expected](https://user-images.githubusercontent.com/18647279/80486300-3906d600-895b-11ea-8985-3862a5d2717b.png)

Actual:
![nightOwl_actual](https://user-images.githubusercontent.co

[2020-05-01 12:49] piegamesde opened #257 "[VS Code] Status bar is unreadable"
**Screenshots**

Light theme:
![image](https://user-images.githubusercontent.com/14054505/80806326-abc1bc80-8bba-11ea-956d-10391dfe7863.png)
Dark theme is a bit better, but still not great:
![image](https://user-images.githubusercontent.com/14054505/80806373-ceec6c00-8bba-11ea-88a6-dc47d0ebeabc.png)

[2020-05-11 10:28] wab commented on #256
same issue here, still searching

[2020-05-11 10:31] wab commented on #256
it seems to come from this extension
https://marketplace.visualstudio.com/items?itemName=mgmcdermott.vscode-language-babel

[2020-05-11 10:35] wab commented on #256
but without extension, styled-components are difficult to read
![image](https://user-images.githubusercontent.com/341980/81552521-eaf2c900-9383-11ea-9ffc-2d795c46fedd.png)

[2020-05-13 22:01] manu810 commented on #256
Thanks a lot for sharing this info wab! Disabling this extension worked for me.

[2020-05-14 13:54] sdras commented on #256
Thanks! I'll put a note in the readme about this

[2020-05-24 11:45] JoshyJonesX opened #259 "Inconsistency in parameter styling"
![night owl error](https://user-images.githubusercontent.com/37090231/82753267-5bd9ae00-9d92-11ea-9bda-9eac88f4e560.PNG)

[2020-05-29 17:57] abhijithvijayan commented on #255
Thanks for highlighting this issue.

[2020-06-08 16:14] sfred commented on #237
I published a PR that fixes this issue, please feel free to take a look if you need a fix for this! I have a packaged VSIX extension file available [here](https://github.com/sfred/night-owl-vscode-theme/releases/tag/1.1.4) if you want to install it directly.

![Screen Shot 2020-06-08 at 12 11 54 PM](https://user-images.githubusercontent.com/1349422/84054451-69da2200-a981-11ea-8fd5-7f0467edd310.png

[2020-06-20 07:50] amirmeimari opened #261 "Add borders around navbar menu and right click menu"
Hey! I would like to have a border around these menus. it would be easier for my eyes to see the difference.

![diff](https://user-images.githubusercontent.com/34706947/85196587-5e2b1b80-b2f0-11ea-9e2d-c726f619e9ee.png)

[2020-06-21 14:52] brokenthorn opened #262 "Highlight indent guide of the cursor's inner scope"
Night Owl Light theme is missing this feature (Default Light + Theme):

![image](https://user-images.githubusercontent.com/2119004/85227627-5c904f00-b3e7-11ea-9949-509b71ef5a6a.png)

ie. the highlighting of the indentation guide of the current scope.

This is Night Owl Light:

![image](https://user-images.githubusercontent.com/2119004/85227683-9f522700-b3e7-11ea-80d6-feda90cd24a8.png)

This is Nig

[2020-06-30 21:09] smolinari opened #263 "Intellisense suggestions for folder names needs better contrast"
When typing in a path, VSCodes suggestion comes up and the letters already typed are green on green.

![image](https://user-images.githubusercontent.com/3314957/86177308-af27e480-bb26-11ea-8bcd-caa15c4ca942.png)

Scott

[2020-07-01 17:57] smolinari commented on #263
I've found the color setting. It is

    "editorSuggestWidget.selectedBackground"

I've changed it locally to: "#092033"

This is what it looks like now:

![image](https://user-images.githubusercontent.com/3314957/86276370-0a181500-bbd5-11ea-8967-50d7f786c5ff.png)

I'm not sure it might not "break" the color of something else, so why I'm not making a PR. I'll test it out for a while first.

Scott

[2020-07-16 13:59] Hassan0x00A opened #264 "Homepage text not visible"
**Screenshots**
![Other themes](https://user-images.githubusercontent.com/43752364/87680148-58a0e400-c77d-11ea-80dd-7ef9321d006f.png)
![Night Owl](https://user-images.githubusercontent.com/43752364/87680161-5d659800-c77d-11ea-92f7-dd63b1104698.png)

The text below the VSCode Logo isn't visible with the Night Owl Theme

[2020-08-02 19:42] viveksinghggits opened #266 "File header's background color should be in such a way that we can clearly figure out which file we are in"
**Describe the solution you'd like**
So as of now if we have some files opened, due to color combination its a bit hard to figure out which file is currently opened. We should  change the file header's background color to make that clear.

![image](https://user-images.githubusercontent.com/19333642/89130868-503efc00-d526-11ea-9766-e15eae668fb1.png)

in the attached image, we can not clearly differ

[2020-08-19 15:59] javlaks opened #267 ""low" keyword doesn't display correctly in terminal"
In the light theme, the keyword "low" is not being displayed correctly

**Screenshots**
![image](https://user-images.githubusercontent.com/513351/90659997-f8cdab00-e20a-11ea-8eff-ab01ad321146.png)

Thanks!

[2020-08-28 12:35] napei opened #268 "Command palette inconsistency"
The command palette has a different background color for Italics and No italics theme

**Screenshots**

![demo](https://user-images.githubusercontent.com/8946502/91561248-9c8f2780-e97e-11ea-98e9-0cec6e415e69.gif)

[2020-09-01 04:04] navinesh commented on #262
You could use this to set a color for indent guide in settings.json

`  "workbench.colorCustomizations": {
    "editorIndentGuide.activeBackground": "#71a2be"
  }`

[2020-09-14 16:28] IvanDrag0 opened #269 "Theme syntax colors change with Powershell semantic highlighting enabled"
When using the VS Code powershell extension with the semantic highlighting enabled, the Night Owl theme changes syntax colors.

Semantic highlighting disabled:

![semanticHighlighting disabled](https://user-images.githubusercontent.com/24702285/93112187-4d830b00-f67d-11ea-9860-6c19e370db21.png)

Semantic highlighting enabled:

![semanticHighlighting enabled](https://user-images.githubusercontent.c

[2020-09-21 03:33] hefeizz commented on #247
I solve this by add some custom setting
[code]

[2020-09-27 16:31] #218 closed

[2020-09-27 16:39] sdras commented on #264
Interesting, thanks for letting me know

[2020-10-03 22:29] ivansvlv commented on #268
@sdras hi 👋🏻 I apologize, I couldn't find a contribution guide for the project, so I've just created a PR for this: https://github.com/sdras/night-owl-vscode-theme/pull/271

It reconciles colour differences between themes in favour of **italic** one, since **noitalic** shouldn't change colours in the first place.

[2020-10-04 04:48] napei commented on #268
Awesome. Thanks for the fix :)

[2020-10-04 04:48] #268 closed

[2020-10-04 10:47] ivansvlv commented on #268
@napei i'm glad i could help 😉

[2020-10-09 16:42] norentkhy opened #272 "Comment color customization does not fully apply"
Good day,

When I use the following in `settings.json`
[code]
I get
![image](https://user-images.githubusercontent.com/60198834/95609196-a2d4f100-0a5e-11eb-8d07-9e3334745c9b.png)
Instead of (sample theme: "One Dark (Sublime)")
![image](https://user-images.githubusercontent.com/60198834/95609424-f3e4e500-0a5e-11eb-87a0-72c88b882e55.png)
Am I missing an extra token color customization?

Thanks!

[2020-10-12 18:21] mikeerickson opened #273 "Some Vue object clarity"
I am looking to get a little better visual of `Vue` objects.  Is it possible to customize the color for the italic (_`company`_) portion in the following screenshot

![image](https://user-images.githubusercontent.com/183153/95778381-ddb47000-0c7c-11eb-806f-49a266e303db.png)

[2020-10-13 12:16] sdras commented on #272
This should do it:

[code]

[2020-10-13 12:16] #272 closed

[2020-10-13 13:05] sdras commented on #273
I think this should be better in the new release, please feel free to reopen if not!

[2020-10-13 13:05] #273 closed

[2020-10-13 13:06] sdras commented on #269
I tried to turn semantic highlighting off, it completely ruined this theme. Please update and let me know if it's better.

[2020-10-13 13:08] sdras commented on #255
Sorry, semantic highlighting completely destroyed this theme. I've opted out, I'm not even sure if that restored it.

[2020-10-13 13:08] #255 closed

[2020-10-13 13:09] sdras commented on #251
I've tried to set semantic highlighting to false and make some changes- can you please update and let me know if it's better? Thanks!

[2020-10-13 15:16] norentkhy commented on #272
It didn't do the trick for me.

[2020-10-13 15:24] norentkhy commented on #272
I figured it out:
[code]

[2020-10-13 15:25] norentkhy commented on #272
Btw, thank you for making this theme :-)

[2020-10-13 22:44] mikeerickson commented on #273
Hey Sarah

It is definitely different and more distinguishable.  Is this the intended color(s):

- The table portion is same color
- The field portion is white

![image](https://user-images.githubusercontent.com/183153/95923702-eaaf8d00-0d6a-11eb-979d-41f257a5f7e8.png)

[2020-10-15 03:02] JavierPiedra opened #274 "2.0 isn't coloring/dinstinctint template literals from strings"
**Please make sure you're using the latest version of the plugin before submitting an issue**
![image](https://user-images.githubusercontent.com/42880686/96072021-f08b9800-0e68-11eb-9b05-c2cdcd0bc513.png)

**Screenshots**
If applicable, add screenshots to help explain your problem, it helps us debug faster.

If you are submitting a bug report in a language not currently in demo folder, a PR to thi

[2020-10-15 03:42] abhijit-hota opened #275 "Coloring for Object property:value shorthand"
**Please make sure you're using the latest version of the plugin before submitting an issue**
Version: 2.0.0

Object properties that are defined using the shorthand (line 26 in the screenshot), should also have the purple color that is given for properties defined as usual.

**Screenshots**
![image](https://user-images.githubusercontent.com/8116174/96074244-d16f2380-0ec5-11eb-90e5-c3cbf91de854.png

[2020-10-18 00:03] sdras commented on #274
well, hm... someone else asked that they be the same color. I have to think of what to do now. I think I agree with you, let me use the new version a bit and see.

[2020-10-18 00:05] sdras commented on #275
Thank you! I have to use it and think about it a minute, because someone else wanted this to be distinct. Appreciate the feedback!

[2020-10-22 09:17] leucioiustefan opened #276 "I don't know if its a bug with html coloring tags"
Hello! I've recently noticed that html tag colors are more white than before, they used to be a light blue color.
![Html](https://user-images.githubusercontent.com/50478258/96851072-47443380-1460-11eb-896d-aa0f29f59b36.PNG)
My eyes do not discern a difference between the tags color and the content between them. Is this what it should look like?
Html tag color looked like this.
![tag color](https:/

[2020-10-22 09:24] leucioiustefan commented on #276
Also I see a problem here.
![Problem](https://user-images.githubusercontent.com/50478258/96852109-6becdb00-1461-11eb-9ddf-de937d79f538.PNG)
It says it expects an object.

[2020-10-22 20:23] mattfwood commented on #276
I've started seeing the same thing, i believe it happened when I updated VS code and it's due to a change in this theme. I'm still trying to figure out if there's a setting to revert this. I'll post back if i have any luck

[2020-10-22 21:16] mattfwood commented on #276
Got it! So if you go to your `settings.json` and add this, it should revert the HTML tags to how they looked previously:

[code]

![image](https://user-images.githubusercontent.com/22530815/96930840-f9d8be00-1481-11eb-8ca3-72a499dae0a2.png)

[2020-10-26 08:53] khoshroomahdi opened #277 "powershell console support"
**Describe the solution you'd like**
i would like to have nightowl schema for powershell color scheme.
i could set nightowl for windows terminal but it do nothing to powershell color scheme.
i mean ex: variable color, command color and ...
--------
get-psreadlineoption
![1](https://user-images.githubusercontent.com/20259070/97152856-c9956600-1786-11eb-9fe9-6af4f52b24de.jpg)

[2020-10-27 13:52] leucioiustefan commented on #276
For me it says Property "textMateRules" is not allowed

[2020-10-27 13:53] leucioiustefan commented on #276
Thank you!

[2020-10-27 13:53] #276 closed

[2020-11-03 17:40] ivansvlv commented on #277
@khoshroomahdi hey 👋🏻 this is a repository for the VS Code theme. Have you tried this one? - https://github.com/edurojasr/Windows-Terminal-Theme-Night-Owl

[2020-11-03 17:52] ivansvlv commented on #275
IMO, having this distinction in syntax highlighting emphasises shorthand, since colour of the shorthand matches the colour of the identifier that is used, it improves legibility.

Just my 2 cents.

[2020-11-03 18:00] ivansvlv commented on #274
Do you think it's necessary or useful to colour them differently? Template literal produces a string so it's quite intuitive to consider it as a string. Besides, template literals usual usage is to interpolate values into the string, and I would argue that Night Owl has one of the best interpolation highlighting, thus making it pretty obvious what are you working with.

[2020-11-03 18:04] JavierPiedra commented on #274
Yes, it has been useful to me, specially to find it quickly. I notice the change.

[2020-11-04 03:22] abhijit-hota commented on #275
But aren't all identifiers colored white after initialization? I might be wrong here.

Although, they're fair points and looking at it, a distinction between the shorthand is good when it resembles the type of variable (but that doesn't seem to the case?).

[2020-11-08 14:58] khoshroomahdi commented on #277
Yes. I tried.

[2020-11-25 07:27] selensr commented on #274
This was really useful. I'd like to see that template literal coloring again. Actually, HTML tag and component colors are also changing to some green. It became really hard for reading and for eyes.

![Screen Shot 2020-11-25 at 10 19 42](https://user-images.githubusercontent.com/45594532/100195564-96223480-2f08-11eb-8831-a082ce477c96.png)

[2020-11-25 07:34] ivansvlv commented on #274
Do you have this extension installed? - https://marketplace.visualstudio.com/items?itemName=mgmcdermott.vscode-language-babel

If yes, it might be causing your component colouring change.

[2020-11-25 07:46] selensr commented on #274
Yes, it is indeed. Thank you a lot. Tags and texts back to normal.

[2020-11-26 21:37] kasper369-proxy commented on #133
how do you address functions and var and props

[2020-11-30 11:39] WielebaMariusz commented on #220
Guys, do you know how disabled this lines?

[2020-12-01 04:45] ghost opened #280 "color blind people issue"
**Some colors are too close to each other  and this make color recognition harder for color blinded people**

**Screenshots**
![image](https://user-images.githubusercontent.com/42757613/100698180-146d5380-33ad-11eb-9efd-f729e7cb5113.png)

It's great theme and I'm waiting for it to get better
Thanks for considering color blinded night owls!

[2020-12-04 00:25] erantona commented on #197
None of these work for me😥😥😥

[2020-12-04 11:55] piegamesde commented on #257
For whatever reason, I had some global color overrides for the status bar. I removed them and all is fine now. Sorry for the noise.

[2020-12-04 11:55] #257 closed

[2020-12-22 22:18] MiguelMachado-dev commented on #269
@sdras do you use it true or false?

[2021-01-17 19:14] stockholmicrosoldering commented on #170
hi everyone.
would you plaese tell me how to include the lines in my bracket text editor. i get confused when the code is long. they help connect the commands together. is it an extention or how can i get the lines?

[2021-01-21 15:13] aualdrich commented on #211
@cdeutsch I was having the same problem with the active tab contrast. Your fix is great! Thanks!

[2021-01-21 15:17] aualdrich commented on #211
I've found this combination, when combined with @cdeutsch's active tab color, gives a really nice tab appearance:
[code]

[2021-01-24 09:00] myknbani opened #282 "Inconsistent highlighting of object returns from regular and arrow function"
**Please make sure you're using the latest version of the plugin before submitting an issue**
Using Night Owl 2.0.0

Thank you so much for this wonderful theme!  I noticed a difference in highlighting of regular functions and arrow functions that return objects.  It seems that the arrow function is highlighted correctly, based on how object declarations look like.

![Screenshot from 2021-01-24 16-

[2021-01-28 01:00] smcenlly opened #283 "Night Owl theme is either overriding or not specifying default markup textMateRules #57 #105"
**Describe the bug**
Theme is either overriding or not specifying default markup `textMateRules` that are provided with VS Code default themes. This breaks syntax highlighting in extensions that use these rules.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone [https://github.com/smcenlly/missing-textmate-tokens](https://github.com/smcenlly/missing-textmate-tokens) VS Code sample extens

[2021-02-17 21:42] caseybaggz commented on #280
Second this. The one thing I have a problem with (pretty major), is the background-highlighted color. I can barely see it. 😭

[2021-02-18 14:56] caseybaggz commented on #280
I was able to adjust the theme in my VSCode settings by adding the below to the `settings.json` file:
[code]
I just tried to find the color that was used elsewhere in the theme so it didn't feel out of place. It was honestly still hard for me though since I don't see some of these colors well. 🙈

[2021-02-21 07:45] TheLimifiedLime commented on #70
Thank you so much. Gone are the days of using html color picker to get the colors. Thank you SO much

[2021-03-04 05:21] DashmeetArt opened #284 "Preview images are not showing in VS code extension preview, though it is showing on github's readme"
![image](https://user-images.githubusercontent.com/20279468/109915090-3b526300-7cd7-11eb-9b4c-55209cccc0ef.png)

I found that the image url which is present over there is not accessible.
https://github.com/sdras/night-owl-vscode-theme/raw/master/first-screen.jpg
https://github.com/sdras/night-owl-vscode-theme/raw/master/three-dark.jpg
https://github.com/sdras/night-owl-vscode-theme/raw/master/ligh

[2021-03-11 01:13] smcenlly commented on #283
Bumping this issue - any plans to fix?

[2021-03-29 07:39] dzhavat commented on #284
This happened with some of my extensions as well. The reason is because the default branch had been renamed from `master` to `main`.

The way to fix this is by using `--githubBranch` flag when publishing a new version of the extension. This is also described in the [docs](https://code.visualstudio.com/api/working-with-extensions/publishing-extension#advanced-usage).

[2021-04-12 12:46] Seungwan-Jung commented on #197
Thanks Ronny! I was searching for the exact same issue!

[2021-04-15 21:05] thiagomajesk opened #285 "Directives to improve language-specific coloring"
Hi! I'd like to know what would be the contribution process to improve the highlight of some specific language. I see that there's a Ruby demo [here](https://github.com/sdras/night-owl-vscode-theme/blob/main/demo/ruby.rb) and it seems that it's a little more flavorful than what I get with Elixir.

For example:

- Both Ruby & Elixir module names are "white", but Ruby classes have a "yellow" color.

[2021-04-23 00:15] rzhb opened #286 "light theme: The Issue(error,warn) background in the editor area is too dark"
Press `F8` when editorFocus

![image](https://user-images.githubusercontent.com/3757123/115799527-412d1080-a40b-11eb-8071-e52ed137c271.png)

The background is a little too dark.

[2021-04-27 20:38] misolori opened #287 "Add secondary button styles"
VS Code will start using the secondary button style in custom dialogs. These are visible on Windows and on the web (i.e. Codespaces). To see this:

1. [Install Insiders 1.56](https://builds.code.visualstudio.com/builds/insider)
2. Set `"window.dialogStyle": "custom",` in your user settings
3. Try to close an unsaved file that will prompt the dialog below

![image](https://user-images.githubusercon

[2021-05-14 22:25] ebxn opened #289 "Inconsistent `const` keyword highlighting (JavaScript/TypeScript)"
**Please make sure you're using the latest version of the plugin before submitting an issue**
Using v2.0.0, set to "Night Owl".

**Screenshots**
![image](https://user-images.githubusercontent.com/32674127/118337270-5af1dd00-b50b-11eb-8695-778baed025f3.png)

As you can see in the screenshot, the `const` keyword is correctly highlighted pink in a normal context, but becomes blue when it's inside an

[2021-05-30 19:39] sivakumargsk opened #290 "Variable color is changed at read and write."
Hello Everyone,

* Variable color is changed at read and write and also it uses same color for parameters as result its little harder to differentiate both.
* Keywords and constants are also having same color.

<img width="799" alt="Screen Shot 2021-05-31 at 12 52 38 AM" src="https://user-images.githubusercontent.com/13914029/120117622-b1b61280-c1ab-11eb-86c2-73f65a8c5175.png">

[2021-05-31 13:54] ghost opened #291 "Mapping custom color definition into vscode color definition"
**Describe the solution you'd like**
I want to map this custom color definition into vscode night owl color definition
[code]

**Is your feature request related to a problem? Please describe.**
I want to use these color definitions in my vscode (with Night Owl theme installed)
but I don't know how to map these into vscode settings.json
Hope that you lot can help me

[2021-07-04 03:30] sdras commented on #277
Hey there! As @ivansvlv mentioned, this project is scoped for VS Code not Windows Terminal. The palette is in the theme's JSON if you want to create one and you don't like that existing one, though. Thanks!

[2021-07-04 03:30] #277 closed

[2021-07-04 03:36] sdras commented on #284
Fixed! Thank you for filing.

[2021-07-04 03:36] #284 closed

[2021-07-15 17:25] evanemolo opened #292 "Python function return type causes following lines to lose their expected colors"
Using version 2.0.1.

In Python, using a function return type causes the following lines to not color properly. See attached screenshot.

**Screenshots**

With return type:

![image](https://user-images.githubusercontent.com/1220668/125830367-f2a1ce45-5e03-477a-8475-6fe0d318f6bd.png)

Without return type:

![image](https://user-images.githubusercontent.com/1220668/125830709-a0f36a53-9a0f-4926-b358

[2021-08-02 20:17] PwntasticKev opened #293 "Elements and Properties lose color settings when on a new line."
Heres a file im using. sometimes it will turn the entire file like a string.

<img width="495" alt="Screen Shot 2021-08-02 at 2 17 04 PM" src="https://user-images.githubusercontent.com/30136843/127918515-3e9e54da-7cbf-41bd-93f5-abda87c451ee.png">

<img width="570" alt="Screen Shot 2021-08-02 at 2 13 48 PM" src="https://user-images.githubusercontent.com/30136843/127918438-7d9ffc0c-e0e7-4857-a752-ec

[2021-09-04 00:41] Marko721 opened #295 "React Components not displayed in orange color on MacOS"
Mac:
![mac](https://user-images.githubusercontent.com/51479266/132076735-8364d125-5533-4478-8304-bb5c9c101f86.JPG)
Windows:
![windows](https://user-images.githubusercontent.com/51479266/132076740-07ef1f85-e05a-48f4-82c0-16f517e9dd9c.png)

[2021-09-11 07:26] Raj2631 commented on #295
Hey there, I have a similar issue(I use  windows though)! The color of the component in JSX is same as the green in props, also the color when you destructure props has changed as well. And the color for object's property has changed as well.
Screenshots below ⬇
![image](https://user-images.githubusercontent.com/43057108/132940087-83546cf2-e15e-4949-b31c-205fb4c0f53b.png)
![image](https://user-ima

[2021-09-13 23:05] #295 closed

[2021-09-13 23:06] Marko721 commented on #295
Indeed the babel extension was the problem. Thank you

[2021-09-24 06:22] edurojasr opened #296 "Have been ported to Gnome Terminal"
Just to let you know that Night and Light Owl's themes have been ported to Gnome Terminal (since Ubuntu its now my main OS)

Gnome Terminal: https://github.com/edurojasr/night-owl--gnome-terminal

I still Love your work! <3

So I took the general color schemas of Night and Light Owl themes and ported to bash script for the Gnome Terminal Have to tweak some color for the Light version. Going to mak

[2021-09-26 17:51] #296 closed

[2021-09-30 14:04] brunohcastro opened #298 "Poor contrast on autocomplete highlighted suggestion"
The highlighted option on autocomplete popups is a bit hard to read.

![image](https://user-images.githubusercontent.com/8389544/135470262-d5309e4e-6a48-4312-b8c0-a34355952a52.png)

![image](https://user-images.githubusercontent.com/8389544/135470337-b2505202-b85f-497a-8045-e27ea73652e8.png)

[2021-10-01 19:53] #298 closed

[2021-11-03 09:13] A-W-Smith commented on #292
Hi,

I recently encountered this issue and if you uninstall the `Python for VSCode` extension that should fix it

https://stackoverflow.com/questions/59342329/syntax-highlighting-not-working-for-python-in-vs-code-with-type-annotations-afte

[2021-11-16 05:37] a7med-mahmoud commented on #293
I think this issue is related to VS Code, Try switching to Dark+, if it doesn't happen then it must be NightOwl's issue

[2021-12-11 23:10] TheFunkyMonk commented on #133
You can add `"storage.type.js"` to the first `"scope"` array for this.

And for anyone who ended up here trying to solve this problem, you can find any selector scopes by pressing `ctrl/cmd + shift + p`, and looking for `Developer: Inspect Editor Tokens and Scopes`.

[2021-12-22 12:59] zzeitt opened #301 "The splitting line between two editors are imperceptible/invisible."
When I split editor windows horizontally or vertically, the splitting lines between windows are hard to be distinguished from background color.

|Screenshots       |
|----------- |
|![cur][cur]current screenshot |
|![hor][hor]where the horizontal splitting line should be |
|![ver][ver]where the vertical splitting line should be |

[cur]:https://user-images.githubusercontent.com/30381410/147093917-

[2022-01-02 01:14] FoxySeta opened #302 "Hex color codes capitalization"
Capitalization in hex color codes is inconsistent. It would be nice to have a uniform coding style in the repo.

[2022-01-02 01:19] FoxySeta opened #303 "Add Element port"
Hi! I ported the dark theme to Element (a Matrix client). Should I open a PR to add it to the README?

[2022-01-22 09:56] xmatthias opened #304 "diffeditor borders are visually disruptive"
**Screenshots**
the (quite bright) borders between the lines make it quite difficult to concentrate on the diff lines itself, when it's a diff of more than 2 lines.

![image](https://user-images.githubusercontent.com/5024695/150633706-d3f853f5-be82-4f3f-8ea1-88f5b015e890.png)

The borders themselfs are caused by `diffEditor.insertedTextBorder` and `diffEditor.removedTextBorder` - however setting t

[2022-01-24 19:40] LmarLoe opened #305 "Bracket pair colors"
Since the Bracket Pair Colorizer has been deprecated in favor of native functionality,
the color of the third nested brackets is different from what it used to be with the extension.
I suggest bring back this color (#87CEFA) because it is more distinguishable by colorblind people.

[2022-01-26 21:45] alxgnon commented on #304
Thanks, I was also wondering how to fix this, as the thick lines in the diff editor are quite annoying and ugly. I hope this change makes it into the theme, as it is much better like this.

[2022-03-04 21:16] brianmoran commented on #304
You should open a PR for this! I stopped using this theme because of this issue. Thanks for figuring it out.

[2022-03-30 21:45] matchai opened #309 "Inlay hints in in Night Owl Light are hard to read with little contrast"
While using Night Owl Light with a strongly typed language that uses inlay type hints, it is difficult to read the types inferred by VS Code.
This can be seen by default in Rust, using `rust-analyzer`, and can also be seen in JavaScript or TypeScript, when any of the `javascript.inlayHints` or `typescript.inlayHints` options are enabled.

**Screenshots**

![CleanShot 2022-03-30 at 16 43 25@2x](htt

[2022-04-11 10:09] m-allanson commented on #266
I've added the following to my VSCode user settings:

[code]

This add a border to the bottom of the active tab:
<img width="539" alt="Screen Shot 2022-04-11 at 12 07 56" src="https://user-images.githubusercontent.com/381801/162716447-483d5cc5-8e6d-4669-8b33-78728a3da18d.png">

[2022-04-11 10:13] viveksinghggits commented on #266
thanks @m-allanson
I was actually getting around by that by just setting the background color.

[2022-07-26 12:58] scratchmex commented on #309
add this to your settings

[code]

![image](https://user-images.githubusercontent.com/4014888/181011465-8e8b03ad-d8a4-430c-b909-0b52fe853730.png)

[2022-07-28 11:35] telephrag opened #312 "Names of generic functions are not highlighted in go 1.18"
In case you wonder if I broke something myself. This is the only edit I did to `settings.json`:
[code]

![Screenshot from 2022-07-28 15-31-24](https://user-images.githubusercontent.com/26183558/181495155-3ec1cfa1-2024-4770-9f45-7793ed98dde3.png)

Edit: typo at screenshot. It should be "highlighted", not "highlited"

[2022-08-01 13:59] telephrag commented on #312
Turns out it's a bug in VSCode. Not just in theme.

[2022-08-01 13:59] #312 closed

[2022-08-03 14:25] gambolputty commented on #301
This can be changed with the `sash.hoverBorder` setting ([docs](https://code.visualstudio.com/api/references/theme-color#base-colors)). For example:

[code]

[2022-08-04 09:07] zzeitt commented on #301
Thanks for pointing me to the right direction, though what I want is to change the color of the border, without hovering.

This is how I finally got it to work,
[code]
And if you want to change other imperceptible borders, I have found the configurations:
[code]
|Before | After |
|---|---|
|![image](https://user-images.githubusercontent.com/30381410/182808527-579098c9-21f3-46de-bd7f-fa31990e4794.p

[2022-08-04 09:07] #301 closed

[2022-08-11 04:40] #303 closed

[2022-08-11 04:41] #302 closed

[2022-08-13 11:50] defytheflow commented on #289
@ebxn, try adding these to your settings.json

[code]

[2022-08-13 14:11] ebxn commented on #289
Hiya @defytheflow,

Thanks for your response! I regret to inform you that it doesn't seem to have worked in this instance :(

You can find my VSCode settings [here](https://pastebin.com/0uuMPrYP).

![image](https://user-images.githubusercontent.com/32674127/184497923-eff1dd62-e2f4-4b6f-ac46-f5c79b7c4c48.png)

[2022-08-13 14:13] ebxn commented on #289
Hiya @defytheflow,

Thanks for your response! I regret to inform you that it doesn't seem to have worked in this instance :(

You can find my VSCode settings [here](https://pastebin.com/2aVM7a1F).

![image](https://user-images.githubusercontent.com/32674127/184497987-0ee2ab88-96a0-44bf-b818-fc4096a84f97.png)

[2022-08-13 16:07] defytheflow commented on #289
@ebx,
My bad, the third string in the scope array must have a .ts extension at the end of every scope. I've edited my answer, try now.

[2022-08-16 13:59] ebxn commented on #289
Hey @defytheflow,

Sorry for the slow response. I can confirm your solution works!

Thanks very much for the help.

![image](https://user-images.githubusercontent.com/32674127/184898422-1e5cef12-345e-4e02-b8e3-458484220a7d.png)

[2022-08-16 13:59] #289 closed

[2022-09-20 17:14] keyable opened #314 "Code Hints in C# in VS 2022 are unreadable on this theme"
The code hints in C# in VS 2022 look too bright and they are unreadable. Please have a look at screenshot.

![image](https://user-images.githubusercontent.com/65192114/191322216-efa7eec8-d906-423e-9a20-e33dc34fef2e.png)

[2022-10-19 13:08] zzeitt commented on #301
I just found that it has been stated in README (https://github.com/sdras/night-owl-vscode-theme#separate-the-editor-from-the-sidebar) 😂……

[2022-11-09 10:11] disguised-uchiha opened #316 "Can you add Code Glow feature same as SynthWave '84"
Please check the Glow Code mode in SynthWave '84.
It would be a great addition to NightOwl since NightOwl is my goto theme.

[2022-11-09 12:42] #316 closed